<table border="1">
    <thead>
        <tr>
            <th style="width:200px; font-weight:600; font-size:16px;">Наименование</th>
            <th style="width:200px; font-weight:600; font-size:16px;">ФИО</th>
            <th style="width:50px; font-weight:600; font-size:16px;">ИНН</th>
            <th style="width:50px; font-weight:600; font-size:16px"">Паспорт</th>
            <th style="width:50px; font-weight:600; font-size:16px;">Телефон</th>
            <th style="width:50px; font-weight:600; font-size:16px;">Email</th>
            <th style="width:200px; font-weight:600; font-size:16px;">Наименование услуги</th>
            <th style="width:50px; font-weight:600; font-size:16px;">Вид оказания услуги</th>
            <th style="width:50px; font-weight:600; font-size:16px;">Дата оказания услуги</th>
            <th style="width:50px; font-weight:600; font-size:16px;">Время оказания услуги</th>
            <th style="width:200px; font-weight:600; font-size:16px;">Оператор</th>
            <th style="width:200px; font-weight:600; font-size:16px;">Окно</th>
        </tr>
    </thead>
    <tbody>
                        
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                      
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                                    <a href="http://localhost/ticket/1">
                        Лицензирование
                    </a>
                            </td>
            <td>
                                    Сопроводительная
                            </td>
            <td>
                                    07.10.2021
                            </td>
            <td>
                                    23:20
                            </td>
            <td>
                                    Оператор не назначен
                            </td>
            <td>
                окно
            </td>
        </tr>
                        
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                      
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                                    <a href="http://localhost/ticket/2">
                        Лицензирование
                    </a>
                            </td>
            <td>
                                    Сопроводительная
                            </td>
            <td>
                                    08.10.2021
                            </td>
            <td>
                                    13:35
                            </td>
            <td>
                                    Оператор не назначен
                            </td>
            <td>
                окно
            </td>
        </tr>
                        
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                      
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                                    <a href="http://localhost/ticket/3">
                        Лицензирование
                    </a>
                            </td>
            <td>
                                    Сопроводительная
                            </td>
            <td>
                                    08.10.2021
                            </td>
            <td>
                                    13:35
                            </td>
            <td>
                                    Оператор не назначен
                            </td>
            <td>
                окно
            </td>
        </tr>
                        
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                      
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                                    <a href="http://localhost/ticket/4">
                        Лицензирование
                    </a>
                            </td>
            <td>
                                    Сопроводительная
                            </td>
            <td>
                                    08.10.2021
                            </td>
            <td>
                                    13:38
                            </td>
            <td>
                                    Оператор не назначен
                            </td>
            <td>
                окно
            </td>
        </tr>
                        
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                      
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                                    <a href="http://localhost/ticket/5">
                        Лицензирование
                    </a>
                            </td>
            <td>
                                    Сопроводительная
                            </td>
            <td>
                                    08.10.2021
                            </td>
            <td>
                                    13:38
                            </td>
            <td>
                                    Оператор не назначен
                            </td>
            <td>
                окно
            </td>
        </tr>
                        
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                      
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                                    <a href="http://localhost/ticket/6">
                        Лицензирование
                    </a>
                            </td>
            <td>
                                    Сопроводительная
                            </td>
            <td>
                                    11.10.2021
                            </td>
            <td>
                                    17:09
                            </td>
            <td>
                                    Оператор не назначен
                            </td>
            <td>
                окно
            </td>
        </tr>
                        
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                      
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                                    <a href="http://localhost/ticket/7">
                        Лицензирование
                    </a>
                            </td>
            <td>
                                    Сопроводительная
                            </td>
            <td>
                                    11.10.2021
                            </td>
            <td>
                                    17:09
                            </td>
            <td>
                                    Оператор не назначен
                            </td>
            <td>
                окно
            </td>
        </tr>
                        
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                      
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                                    <a href="http://localhost/ticket/8">
                        Лицензирование
                    </a>
                            </td>
            <td>
                                    Сопроводительная
                            </td>
            <td>
                                    11.10.2021
                            </td>
            <td>
                                    22:19
                            </td>
            <td>
                                    Оператор не назначен
                            </td>
            <td>
                окно
            </td>
        </tr>
                        
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                      
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                                    <a href="http://localhost/ticket/9">
                        Лицензирование
                    </a>
                            </td>
            <td>
                                    Сопроводительная
                            </td>
            <td>
                                    26.10.2021
                            </td>
            <td>
                                    17:18
                            </td>
            <td>
                                    Оператор не назначен
                            </td>
            <td>
                окно
            </td>
        </tr>
                        
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                      
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                                    <a href="http://localhost/ticket/10">
                        Лицензирование
                    </a>
                            </td>
            <td>
                                    Сопроводительная
                            </td>
            <td>
                                    26.10.2021
                            </td>
            <td>
                                    17:20
                            </td>
            <td>
                                    Оператор не назначен
                            </td>
            <td>
                окно
            </td>
        </tr>
                        
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                      
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                                    <a href="http://localhost/ticket/11">
                        Лицензирование
                    </a>
                            </td>
            <td>
                                    Сопроводительная
                            </td>
            <td>
                                    26.10.2021
                            </td>
            <td>
                                    17:21
                            </td>
            <td>
                                    Оператор не назначен
                            </td>
            <td>
                окно
            </td>
        </tr>
                        
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                      
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                                    <a href="http://localhost/ticket/12">
                        Лицензирование
                    </a>
                            </td>
            <td>
                                    Сопроводительная
                            </td>
            <td>
                                    26.10.2021
                            </td>
            <td>
                                    17:21
                            </td>
            <td>
                                    Оператор не назначен
                            </td>
            <td>
                окно
            </td>
        </tr>
                        
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                      
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                                    <a href="http://localhost/ticket/13">
                        Лицензирование
                    </a>
                            </td>
            <td>
                                    Сопроводительная
                            </td>
            <td>
                                    26.10.2021
                            </td>
            <td>
                                    20:21
                            </td>
            <td>
                                    Оператор не назначен
                            </td>
            <td>
                окно
            </td>
        </tr>
                        
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                      
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                                    <a href="http://localhost/ticket/14">
                        Лицензирование
                    </a>
                            </td>
            <td>
                                    Сопроводительная
                            </td>
            <td>
                                    26.10.2021
                            </td>
            <td>
                                    21:00
                            </td>
            <td>
                                    Оператор не назначен
                            </td>
            <td>
                окно
            </td>
        </tr>
                        
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                      
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                                    <a href="http://localhost/ticket/15">
                        Лицензирование
                    </a>
                            </td>
            <td>
                                    Сопроводительная
                            </td>
            <td>
                                    26.10.2021
                            </td>
            <td>
                                    21:17
                            </td>
            <td>
                                    Оператор не назначен
                            </td>
            <td>
                окно
            </td>
        </tr>
                        
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                      
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                                    <a href="http://localhost/ticket/16">
                        Лицензирование
                    </a>
                            </td>
            <td>
                                    Сопроводительная
                            </td>
            <td>
                                    26.10.2021
                            </td>
            <td>
                                    21:25
                            </td>
            <td>
                                    Оператор не назначен
                            </td>
            <td>
                окно
            </td>
        </tr>
                        
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>                      
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                                    <a href="http://localhost/ticket/17">
                        Лицензирование
                    </a>
                            </td>
            <td>
                                    Сопроводительная
                            </td>
            <td>
                                    26.10.2021
                            </td>
            <td>
                                    21:26
                            </td>
            <td>
                                    Оператор не назначен
                            </td>
            <td>
                окно
            </td>
        </tr>
        </tbody>
</table>
