<table style="border:1px solid #000;">
    <thead>
        <tr>
            <th style="">Наименование</th>
            <th style="width:auto; font-weight:600;">ФИО</th>
            <th style="width:auto; font-weight:600;">ИНН</th>
            <th style="width:auto; font-weight:600;">Паспорт</th>
            <th style="width:auto; font-weight:600;">Телефон</th>
            <th style="width:auto; font-weight:600;">Email</th>
            <th style="width:auto; font-weight:600;">Наименование услуги</th>
            <th style="width:auto; font-weight:600;">Вид оказания услуги</th>
            <th style="width:auto; font-weight:600;">Дата оказания услуги</th>
            <th style="width:auto; font-weight:600;">Время оказания услуги</th>
            <th style="width:auto; font-weight:600;">Оператор</th>
            <th style="width:auto; font-weight:600;">Окно</th>
        </tr>
    </thead>
    <tbody>
                        
    <tr>
        <td class="text-center">
                            Махмутов Рамиль Рифкатович
                    </td>
        <td>
                            Махмутов Рамиль Рифкатович
                    </td>
        <td class="text-center">
                            234234234234
                    </td>                      
        <td class="text-center">
                            1231 123123
                    </td>
        <td class="text-center">
                            +7 (937) 272-46-48
                    </td>
        <td class="text-center">
                            mr.prolider@gmail.com
                    </td>
        <td class="text-center">
            Лицензирование
        </td>
        <td class="text-center">
                            Сопроводительная
                    </td>
        <td class="text-center">
                            07.10.2021
                    </td>
        <td class="text-center">
                            23:20
                    </td>
        <td>
                            Не назначен
                    </td>
        <td>
                            Не указано
                    </td>
    </tr>
                        
    <tr>
        <td class="text-center">
                            Махмутов Рамиль Рифкатович
                    </td>
        <td>
                            Махмутов Рамиль Рифкатович
                    </td>
        <td class="text-center">
                            234234234234
                    </td>                      
        <td class="text-center">
                            1231 123123
                    </td>
        <td class="text-center">
                            +7 (937) 272-46-48
                    </td>
        <td class="text-center">
                            mr.prolider@gmail.com
                    </td>
        <td class="text-center">
            Лицензирование
        </td>
        <td class="text-center">
                            Сопроводительная
                    </td>
        <td class="text-center">
                            08.10.2021
                    </td>
        <td class="text-center">
                            13:35
                    </td>
        <td>
                            Не назначен
                    </td>
        <td>
                            Не указано
                    </td>
    </tr>
                        
    <tr>
        <td class="text-center">
                            Махмутов Рамиль Рифкатович
                    </td>
        <td>
                            Махмутов Рамиль Рифкатович
                    </td>
        <td class="text-center">
                            234234234234
                    </td>                      
        <td class="text-center">
                            1231 123123
                    </td>
        <td class="text-center">
                            +7 (937) 272-46-48
                    </td>
        <td class="text-center">
                            mr.prolider@gmail.com
                    </td>
        <td class="text-center">
            Лицензирование
        </td>
        <td class="text-center">
                            Сопроводительная
                    </td>
        <td class="text-center">
                            08.10.2021
                    </td>
        <td class="text-center">
                            13:35
                    </td>
        <td>
                            Не назначен
                    </td>
        <td>
                            Не указано
                    </td>
    </tr>
                        
    <tr>
        <td class="text-center">
                            Махмутов Рамиль Рифкатович
                    </td>
        <td>
                            Махмутов Рамиль Рифкатович
                    </td>
        <td class="text-center">
                            234234234234
                    </td>                      
        <td class="text-center">
                            1231 123123
                    </td>
        <td class="text-center">
                            +7 (937) 272-46-48
                    </td>
        <td class="text-center">
                            mr.prolider@gmail.com
                    </td>
        <td class="text-center">
            Лицензирование
        </td>
        <td class="text-center">
                            Сопроводительная
                    </td>
        <td class="text-center">
                            08.10.2021
                    </td>
        <td class="text-center">
                            13:38
                    </td>
        <td>
                            Не назначен
                    </td>
        <td>
                            Не указано
                    </td>
    </tr>
                        
    <tr>
        <td class="text-center">
                            Махмутов Рамиль Рифкатович
                    </td>
        <td>
                            Махмутов Рамиль Рифкатович
                    </td>
        <td class="text-center">
                            234234234234
                    </td>                      
        <td class="text-center">
                            1231 123123
                    </td>
        <td class="text-center">
                            +7 (937) 272-46-48
                    </td>
        <td class="text-center">
                            mr.prolider@gmail.com
                    </td>
        <td class="text-center">
            Лицензирование
        </td>
        <td class="text-center">
                            Сопроводительная
                    </td>
        <td class="text-center">
                            08.10.2021
                    </td>
        <td class="text-center">
                            13:38
                    </td>
        <td>
                            Не назначен
                    </td>
        <td>
                            Не указано
                    </td>
    </tr>
                        
    <tr>
        <td class="text-center">
                             Николай 
                    </td>
        <td>
                             Николай 
                    </td>
        <td class="text-center">
                            Не указан
                    </td>                      
        <td class="text-center">
                            Не указан
                    </td>
        <td class="text-center">
                            +7 (234) 234-23-42
                    </td>
        <td class="text-center">
                            euwyuq@mailto.plus
                    </td>
        <td class="text-center">
            Лицензирование
        </td>
        <td class="text-center">
                            Сопроводительная
                    </td>
        <td class="text-center">
                            11.10.2021
                    </td>
        <td class="text-center">
                            17:09
                    </td>
        <td>
                            Не назначен
                    </td>
        <td>
                            Не указано
                    </td>
    </tr>
                        
    <tr>
        <td class="text-center">
                             Николай 
                    </td>
        <td>
                             Николай 
                    </td>
        <td class="text-center">
                            Не указан
                    </td>                      
        <td class="text-center">
                            Не указан
                    </td>
        <td class="text-center">
                            +7 (234) 234-23-42
                    </td>
        <td class="text-center">
                            euwyuq@mailto.plus
                    </td>
        <td class="text-center">
            Лицензирование
        </td>
        <td class="text-center">
                            Сопроводительная
                    </td>
        <td class="text-center">
                            11.10.2021
                    </td>
        <td class="text-center">
                            17:09
                    </td>
        <td>
                            Admin 
                    </td>
        <td>
                            Не указано
                    </td>
    </tr>
                        
    <tr>
        <td class="text-center">
                            Махмутов Рамиль Рифкатович
                    </td>
        <td>
                            Махмутов Рамиль Рифкатович
                    </td>
        <td class="text-center">
                            234234234234
                    </td>                      
        <td class="text-center">
                            1231 123123
                    </td>
        <td class="text-center">
                            +7 (937) 272-46-48
                    </td>
        <td class="text-center">
                            mr.prolider@gmail.com
                    </td>
        <td class="text-center">
            Лицензирование
        </td>
        <td class="text-center">
                            Сопроводительная
                    </td>
        <td class="text-center">
                            11.10.2021
                    </td>
        <td class="text-center">
                            22:19
                    </td>
        <td>
                            Не назначен
                    </td>
        <td>
                            Не указано
                    </td>
    </tr>
                        
    <tr>
        <td class="text-center">
                            Махмутов Рамиль Рифкатович
                    </td>
        <td>
                            Махмутов Рамиль Рифкатович
                    </td>
        <td class="text-center">
                            234234234234
                    </td>                      
        <td class="text-center">
                            1231 123123
                    </td>
        <td class="text-center">
                            +7 (937) 272-46-48
                    </td>
        <td class="text-center">
                            mr.prolider@gmail.com
                    </td>
        <td class="text-center">
            Лицензирование
        </td>
        <td class="text-center">
                            Сопроводительная
                    </td>
        <td class="text-center">
                            26.10.2021
                    </td>
        <td class="text-center">
                            17:18
                    </td>
        <td>
                            Не назначен
                    </td>
        <td>
                            Не указано
                    </td>
    </tr>
                        
    <tr>
        <td class="text-center">
                            Махмутов Рамиль Рифкатович
                    </td>
        <td>
                            Махмутов Рамиль Рифкатович
                    </td>
        <td class="text-center">
                            234234234234
                    </td>                      
        <td class="text-center">
                            1231 123123
                    </td>
        <td class="text-center">
                            +7 (937) 272-46-48
                    </td>
        <td class="text-center">
                            mr.prolider@gmail.com
                    </td>
        <td class="text-center">
            Лицензирование
        </td>
        <td class="text-center">
                            Сопроводительная
                    </td>
        <td class="text-center">
                            26.10.2021
                    </td>
        <td class="text-center">
                            17:20
                    </td>
        <td>
                            Не назначен
                    </td>
        <td>
                            Не указано
                    </td>
    </tr>
                        
    <tr>
        <td class="text-center">
                            Махмутов Рамиль Рифкатович
                    </td>
        <td>
                            Махмутов Рамиль Рифкатович
                    </td>
        <td class="text-center">
                            234234234234
                    </td>                      
        <td class="text-center">
                            1231 123123
                    </td>
        <td class="text-center">
                            +7 (937) 272-46-48
                    </td>
        <td class="text-center">
                            mr.prolider@gmail.com
                    </td>
        <td class="text-center">
            Лицензирование
        </td>
        <td class="text-center">
                            Сопроводительная
                    </td>
        <td class="text-center">
                            26.10.2021
                    </td>
        <td class="text-center">
                            17:21
                    </td>
        <td>
                            Не назначен
                    </td>
        <td>
                            Не указано
                    </td>
    </tr>
                        
    <tr>
        <td class="text-center">
                            Махмутов Рамиль Рифкатович
                    </td>
        <td>
                            Махмутов Рамиль Рифкатович
                    </td>
        <td class="text-center">
                            234234234234
                    </td>                      
        <td class="text-center">
                            1231 123123
                    </td>
        <td class="text-center">
                            +7 (937) 272-46-48
                    </td>
        <td class="text-center">
                            mr.prolider@gmail.com
                    </td>
        <td class="text-center">
            Лицензирование
        </td>
        <td class="text-center">
                            Сопроводительная
                    </td>
        <td class="text-center">
                            26.10.2021
                    </td>
        <td class="text-center">
                            17:21
                    </td>
        <td>
                            Не назначен
                    </td>
        <td>
                            Не указано
                    </td>
    </tr>
                        
    <tr>
        <td class="text-center">
                            Не указан
                    </td>
        <td>
                            Не указан
                    </td>
        <td class="text-center">
                            Не указан
                    </td>                      
        <td class="text-center">
                            Не указан
                    </td>
        <td class="text-center">
                            Не указан
                    </td>
        <td class="text-center">
                            Не указан
                    </td>
        <td class="text-center">
            Лицензирование
        </td>
        <td class="text-center">
                            Сопроводительная
                    </td>
        <td class="text-center">
                            26.10.2021
                    </td>
        <td class="text-center">
                            20:21
                    </td>
        <td>
                            Не назначен
                    </td>
        <td>
                            Не указано
                    </td>
    </tr>
                        
    <tr>
        <td class="text-center">
                            Не указан
                    </td>
        <td>
                            Не указан
                    </td>
        <td class="text-center">
                            Не указан
                    </td>                      
        <td class="text-center">
                            Не указан
                    </td>
        <td class="text-center">
                            Не указан
                    </td>
        <td class="text-center">
                            Не указан
                    </td>
        <td class="text-center">
            Лицензирование
        </td>
        <td class="text-center">
                            Сопроводительная
                    </td>
        <td class="text-center">
                            26.10.2021
                    </td>
        <td class="text-center">
                            21:00
                    </td>
        <td>
                            Не назначен
                    </td>
        <td>
                            Не указано
                    </td>
    </tr>
                        
    <tr>
        <td class="text-center">
                            Махмутов Рамиль Рифкатович
                    </td>
        <td>
                            Махмутов Рамиль Рифкатович
                    </td>
        <td class="text-center">
                            234234234234
                    </td>                      
        <td class="text-center">
                            1231 123123
                    </td>
        <td class="text-center">
                            +7 (937) 272-46-48
                    </td>
        <td class="text-center">
                            mr.prolider@gmail.com
                    </td>
        <td class="text-center">
            Лицензирование
        </td>
        <td class="text-center">
                            Сопроводительная
                    </td>
        <td class="text-center">
                            26.10.2021
                    </td>
        <td class="text-center">
                            21:17
                    </td>
        <td>
                            Не назначен
                    </td>
        <td>
                            Не указано
                    </td>
    </tr>
                        
    <tr>
        <td class="text-center">
                            Махмутов Рамиль Рифкатович
                    </td>
        <td>
                            Махмутов Рамиль Рифкатович
                    </td>
        <td class="text-center">
                            234234234234
                    </td>                      
        <td class="text-center">
                            1231 123123
                    </td>
        <td class="text-center">
                            +7 (937) 272-46-48
                    </td>
        <td class="text-center">
                            mr.prolider@gmail.com
                    </td>
        <td class="text-center">
            Лицензирование
        </td>
        <td class="text-center">
                            Сопроводительная
                    </td>
        <td class="text-center">
                            26.10.2021
                    </td>
        <td class="text-center">
                            21:25
                    </td>
        <td>
                            Не назначен
                    </td>
        <td>
                            Не указано
                    </td>
    </tr>
                        
    <tr>
        <td class="text-center">
                            Махмутов Рамиль Рифкатович
                    </td>
        <td>
                            Махмутов Рамиль Рифкатович
                    </td>
        <td class="text-center">
                            234234234234
                    </td>                      
        <td class="text-center">
                            1231 123123
                    </td>
        <td class="text-center">
                            +7 (937) 272-46-48
                    </td>
        <td class="text-center">
                            mr.prolider@gmail.com
                    </td>
        <td class="text-center">
            Лицензирование
        </td>
        <td class="text-center">
                            Сопроводительная
                    </td>
        <td class="text-center">
                            26.10.2021
                    </td>
        <td class="text-center">
                            21:26
                    </td>
        <td>
                            Не назначен
                    </td>
        <td>
                            Не указано
                    </td>
    </tr>
        </tbody>
</table>
