@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-BlackItalic.eot');
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
        url('fonts/roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-BlackItalic.woff2') format('woff2'),
        url('fonts/roboto/Roboto-BlackItalic.woff') format('woff'),
        url('fonts/roboto/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-Bold.woff2') format('woff2'),
        url('fonts/roboto/Roboto-Bold.woff') format('woff'),
        url('fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-BoldItalic.eot');
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('fonts/roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'),
        url('fonts/roboto/Roboto-BoldItalic.woff') format('woff'),
        url('fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-LightItalic.eot');
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('fonts/roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
        url('fonts/roboto/Roboto-LightItalic.woff') format('woff'),
        url('fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('fonts/roboto/Roboto-Regular.woff') format('woff'),
        url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-ThinItalic.eot');
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
        url('fonts/roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-ThinItalic.woff2') format('woff2'),
        url('fonts/roboto/Roboto-ThinItalic.woff') format('woff'),
        url('fonts/roboto/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
        url('fonts/roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-Black.woff2') format('woff2'),
        url('fonts/roboto/Roboto-Black.woff') format('woff'),
        url('fonts/roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-MediumItalic.eot');
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
        url('fonts/roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'),
        url('fonts/roboto/Roboto-MediumItalic.woff') format('woff'),
        url('fonts/roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Thin.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('fonts/roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-Thin.woff2') format('woff2'),
        url('fonts/roboto/Roboto-Thin.woff') format('woff'),
        url('fonts/roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-Light.woff2') format('woff2'),
        url('fonts/roboto/Roboto-Light.woff') format('woff'),
        url('fonts/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Italic.eot');
    src: local('Roboto Italic'), local('Roboto-Italic'),
        url('fonts/roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-Italic.woff2') format('woff2'),
        url('fonts/roboto/Roboto-Italic.woff') format('woff'),
        url('fonts/roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-Medium.woff2') format('woff2'),
        url('fonts/roboto/Roboto-Medium.woff') format('woff'),
        url('fonts/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
:root {
    --brownlight: #C39367;
    --brown: #623B2A;
    --corall: #E04E39;
    --coralldark: #a53a29;
    --dark:#2C2A29;
    --brown80:rgba(98,59,42,0.8);
    --blue:#0079c3;
    --lightblue:#22A7F0;
    --grey:#6c757d;
    --darkblue:#005297;
  }
.app-container.expanded .content-container .side-menu {
    width: 300px;
}
.app-container.expanded .content-container .navbar-top {
    padding-left: 300px;
}
.app-container.expanded .side-body {
    margin-left: 300px;
}
.navbar .navbar-nav>li>a {
    font-family: Open Sans,sans-serif;
    text-transform: normal;
}
.voyager .side-menu.sidebar-inverse {
    background: var(--darkblue);
    overflow-x: hidden;
    -webkit-transition: width .5s cubic-bezier(.19,1,.22,1);
    transition: width .5s cubic-bezier(.19,1,.22,1);
}
.voyager .side-menu.sidebar-inverse .navbar li>a {
    color: #fff;
}
.voyager .navbar.navbar-default .navbar-nav>li:hover>a, .voyager .navbar .navbar-nav>li:hover>a {
    color: #fff;
}
.voyager .side-menu.sidebar-inverse .navbar li>a:hover {
    color: #fff;
    background: var(--lightblue);
}
.voyager .side-menu.sidebar-inverse .navbar li {
    border-left: 0;
    border-bottom: 1px solid #fff;
}
.app-container .content-container .side-menu .navbar-nav li.dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #fff;
}
body .app-container {
    min-height: 100%;
    position: relative;
    background: #eaeaea;
    padding-bottom: 30px;
}
.expanded .side-menu .panel.widget .dimmer, .side-menu:hover .panel.widget .dimmer {
    background: var(--darkblue);
}
.voyager .navbar.navbar-default .navbar-header .navbar-brand, .voyager .navbar .navbar-header .navbar-brand {
    color: #f9f9f9;
    background: var(--corall);
}
.voyager .navbar-header .breadcrumb a {
    color: #4f2f22;
}
#adminmenu li.active {
    background: var(--darkblue);
}
.voyager .navbar, .voyager .navbar.navbar-default {
    border-bottom: 0;
    box-shadow: 0 0 0;
    background: #005499;
}
:root {
  --brownlight: #C39367;
  --brown: #623B2A;
  --corall: #E04E39;
  --coralllight: rgb(224 78 57 / 0.7);
  --dark:#2C2A29;
  --brown80:rgba(98,59,42,0.8);
}

.btn-brown{
    background:var(--brown);
    color: #fff;
}
.btn-brown:hover{
    background:var(--brownlight);
    color: #fff;
}

.voyager .btn.btn-danger {
    background: var(--corall);
    color: #fff;
    border: 0;
    border-radius: 3px;
    opacity: .9;
}
.voyager .nav-tabs, .voyager .nav-tabs>li>a:hover {
    background-color: #ffffff;
}
.tab-content>div {
    padding: 0;
}
.voyager .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff!important;
    background-color: var(--corall)!important;
    border-color: transparent;
    border: 0;
}
.voyager .nav-tabs>li.active>a:hover {
    background-color: var(--corall);
}
.voyager .nav-tabs>li>a {
    padding: 10px 20px;
    color: #ffffff!important;
    -webkit-transition: .25s;
    transition: .25s;
    background: var(--blue)!important;
}
.voyager .side-body .nav-tabs>li>a:hover {
    border-color: transparent;
    background: var(--corall)!important;
    background-color: var(--corall)!important;
}

.voyager .nav-tabs {
    border-bottom: 0;
    margin-bottom: 20px;
}
.voyager .nav-tabs>li {
    margin-bottom: 0;
}
.voyager .tab-content2 {
    background: #fff;
}
label {
    font-weight: 600;
}
p label {
    font-weight: normal;
}
body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
}
.form-control {
    color: #6e544a;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ced4da;
}
.select2-container--default .select2-selection--single {
    border: 0;
    border-right: 1px solid #ced4da;
    border-radius: 3px;
    height: 34px;
    padding: 3px;
    border: 1px solid #ced4da;
}
.voyager input[type=file] {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ced4da;
    outline: none;
    cursor: pointer;
    line-height: 16px;
    color: #aaa;
    font-weight: 500;
    font-size: 12px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
body .btn-coral {
    color: #fff;
    background-color: var(--corall);
    border-color: var(--corall);
}
body .btn-coral:hover {
    color: #fff;
    background-color: var(--coralllight);
    border-color: var(--coralllight);
}
.voyager .panel {
    margin-bottom: 22px;
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,0);
}

/*Formbuilder Vue*/
.box-scroll {
    height: 500px;
    overflow-y: auto;
}
form .steps .step.current {
    background-color: var(--corall)!important;
    border-radius: 4px 4px 0 0!important;
    color: #fff;
}
form .group-header {
    background-color: var(--blue)!important;
    color: #fcfcfc!important;
    border: 1px solid #b5b5b5!important;
    text-align: center;
    padding: 10px;
    position: relative;
    border-radius: 0;
    cursor: pointer;
}
form .templates .template > div {
    outline: 1px dashed var(--blue)!important;
    padding: 10px 0!important;
    background: #eee!important;
    border:none!important;
}

form .templates .template {
    padding: 1px!important;
    background: #eee!important;
    border:none!important;
}
form .group-header.open {
    background-color: var(--lightblue)!important;
}
form .templates .template > div:last-child {
    border-right: 0px solid #b5b5b5!important;
}
form .group-body {
    border: 0!important;
    border-top: none!important;
    padding: 10px 0!important;
    cursor: pointer;

}
form .group-header::after {
    border-top: 1px solid #fff!important;
    border-right: 1px solid #fff!important; 
}
form .dragged-element__row {
    border: 0!important;
    border-radius: 4px!important;
    margin-bottom: 0px!important;
    overflow: hidden!important;
}
form .steps .step {
    background-color: #4CAF50!important;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px 4px 0 0!important;
    color: #fff;
}
/*form .close {
    float: none;
    font-size: inherit;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: none;
    filter: alpha(opacity=70);
    opacity: .7;
}*/
form .dragArea {
    border: 1px dashed #eee!important;
    padding: 15px!important;
    margin: 0!important;
}
form .dragged-element__row-title, .editor-element__title {
    background-color: #eee!important;
    display: flex;
    padding: 5px 10px!important;
}
form .editor-element {
    border: 1px solid #eee!important;
    border-radius: 4px!important;
    margin-bottom: 0px!important;
}
.group-body .fields .field {
    background-color: #eee!important;
    border: 1px solid #eee!important;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 10px!important;
    border-radius: 3px!important;
}

.group-body .fields .field:hover {
    border: 1px solid #b5b5b5!important;
}
.btn-close {
	padding: 0px 7px;
    margin: 0;
}
.editor-element__title button.btn-sm {
	padding: 0px 7px;
    margin: 0;
    height: 22px;
}
#filemanager .flex {
    border: 1px solid #e0e0e0!important;
}
.item {
	flex:auto;
    padding: 0;
}
.dragged-element {
    cursor: move;
}
.dragged-element:hover {
    box-shadow: 0 0 10px #dcdcdc;
    transition: 0.5s;
}
form .row>[class*=col-] {
    margin-bottom: 0!important;
}
form .dragged-element .mb-2 {
	margin-bottom: 15px;
}
/*.app-container .content-container .side-menu .navbar-nav li a .title {
    position: relative;
    top: -4px;

    font-weight: 300;
}*/
.app-container .content-container .side-menu .navbar-nav li.dropdown ul li a {
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
    padding: 0 45px;
}
.voyager .settings .nav-tabs > li > a:hover {
    background-color: var(--brownlight)!important;
}
table.dataTable tbody td, table.datatable tbody th {
    padding: 5px 15px;
    vertical-align: middle;
}
table.dataTable thead>tr>th {
    padding-left: 15px;
    padding-right: 15px;
}

.toggle.btn.btn-primary {
    min-width: 200px!important;
}
.toggle.btn.btn-default {
    min-width: 200px!important;
}
.navbar .navbar-nav>li>a {
    text-transform: none;
}