/*@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1300px!important;
    }
}*/
@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-BlackItalic.eot');
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
        url('fonts/roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-BlackItalic.woff2') format('woff2'),
        url('fonts/roboto/Roboto-BlackItalic.woff') format('woff'),
        url('fonts/roboto/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
        url('fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-Bold.woff2') format('woff2'),
        url('fonts/roboto/Roboto-Bold.woff') format('woff'),
        url('fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-BoldItalic.eot');
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
        url('fonts/roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-BoldItalic.woff2') format('woff2'),
        url('fonts/roboto/Roboto-BoldItalic.woff') format('woff'),
        url('fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-LightItalic.eot');
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
        url('fonts/roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
        url('fonts/roboto/Roboto-LightItalic.woff') format('woff'),
        url('fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('fonts/roboto/Roboto-Regular.woff') format('woff'),
        url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-ThinItalic.eot');
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'),
        url('fonts/roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-ThinItalic.woff2') format('woff2'),
        url('fonts/roboto/Roboto-ThinItalic.woff') format('woff'),
        url('fonts/roboto/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
        url('fonts/roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-Black.woff2') format('woff2'),
        url('fonts/roboto/Roboto-Black.woff') format('woff'),
        url('fonts/roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-MediumItalic.eot');
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
        url('fonts/roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'),
        url('fonts/roboto/Roboto-MediumItalic.woff') format('woff'),
        url('fonts/roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Thin.eot');
    src: local('Roboto Thin'), local('Roboto-Thin'),
        url('fonts/roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-Thin.woff2') format('woff2'),
        url('fonts/roboto/Roboto-Thin.woff') format('woff'),
        url('fonts/roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
        url('fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-Light.woff2') format('woff2'),
        url('fonts/roboto/Roboto-Light.woff') format('woff'),
        url('fonts/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Italic.eot');
    src: local('Roboto Italic'), local('Roboto-Italic'),
        url('fonts/roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-Italic.woff2') format('woff2'),
        url('fonts/roboto/Roboto-Italic.woff') format('woff'),
        url('fonts/roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('fonts/roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto/Roboto-Medium.woff2') format('woff2'),
        url('fonts/roboto/Roboto-Medium.woff') format('woff'),
        url('fonts/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*@font-face {
font-family: 'Circe Extra Bold';
src: url('fonts/Circe-ExtraBold.eot');
src: url('fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
url('fonts/Circe-ExtraBold.woff') format('woff'),
url('fonts/Circe-ExtraBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Circe Bold';
src: url('fonts/Circe-Bold.eot');
src: url('fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
url('fonts/Circe-Bold.woff') format('woff'),
url('fonts/Circe-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Circe Bold';
src: url('fonts/Circe-Bold.eot');
src: url('fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
url('fonts/Circe-Bold.woff') format('woff'),
url('fonts/Circe-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Circe Light';
src: url('fonts/Circe-Light.eot');
src: url('fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
url('fonts/Circe-Light.woff') format('woff'),
url('fonts/Circe-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Circe Extra Light';
src: url('fonts/Circe-ExtraLight.eot');
src: url('fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
url('font/Circe-ExtraLight.woff') format('woff'),
url('fonts/Circe-ExtraLight.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Circe Thin';
src: url('fonts/Circe-Thin.eot');
src: url('fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),
url('fonts/Circe-Thin.woff') format('woff'),
url('fonts/Circe-Thin.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}*/
:root {
  --brownlight: #C39367;
  --brown: #623B2A;
  --corall: #E04E39;
  --coralldark: #a53a29;
  --dark:#2C2A29;
  --brown80:rgba(98,59,42,0.8);
  --blue:#0079c3;
  --lightblue:#2b8ac5;
  --grey:#6c757d;
}
:focus {
    outline: none;
}

.bg-blue {
    background: var(--blue);
}

.bg-corall {
    background: var(--corall);
}

body {
    background: #f2f7ff;
    background-color: #f2f7ff;
    font-family: 'Roboto', sans-serif;
}
.h1, h1 {
    font-size: 1.5rem;
}
.h2, h2 {
    font-size: 1.45rem;
}
.h3, h3 {
    font-size: 1.35rem;
}
.h4, h4 {
    font-size: 1.25rem;
}
.h5, h5 {
    font-size: 1.15rem;
}
/*.top {
    border-bottom: 3px solid var(--brownlight);
}*/
.navbar-brand {
    max-width: 450px;
}
img.logo {
    width: 100%;
}
@media (max-width: 1024px) {
    .navbar-brand  {
        max-width: 60%;
    }
    img.logo {
        width: 100%;
    }
}
.fw-normal a {
    color: #000;
}
.fw-normal a:hover {
    color: var(--blue);
}
.btn {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
/*Buttons-start*/
.btn-corall, .btn-coral {
    color: #fff;
    background-color: var(--corall);
    border-color: var(--corall);
}
.btn-corall:hover, .btn-corall:focus, .btn-coral:hover, .btn-coral:focus {
    color:#fff;
    box-shadow: 0px 5px 10px 0px #d1d1d1;
}
.btn-brown {
    color: #fff;
    background-color: var(--brown);
    border-color: var(--brown);
}
.btn-brown:hover, .btn-brown:focus {
    color:#fff;
    box-shadow: 0px 5px 10px 0px #d1d1d1;
}
.btn-blue {
    color: #fff;
    background-color: var(--blue);
    border-color: var(--blue);
}
.btn-blue:hover, .btn-blue:focus {
    color:#fff;
    box-shadow: 0px 5px 10px 0px #d1d1d1;
}

.btn-outline-brown {
    border: 1px solid var(--brown);
    background: transparent;
    color: var(--brown)
}
.btn-outline-corall {
    border: 1px solid var(--corall);
    background: transparent;
    color: var(--corall)
}
.btn-outline-blue {
    border: 1px solid var(--blue);
    background: transparent;
    color: var(--blue)
}

.btn-outline-brown:hover, .btn-outline-brown:focus {
    background: var(--brown);
    color:#fff;
    box-shadow: 0px 5px 10px 0px #d1d1d1;
}
.btn-outline-corall:hover, .btn-outline-corall:focus {
    background: var(--corall);
    color:#fff;
    box-shadow: 0px 5px 10px 0px #d1d1d1;
}
.btn-outline-blue:hover, .btn-outline-blue:focus {
    background: var(--blue);
    color:#fff;
    box-shadow: 0px 5px 10px 0px #d1d1d1;
}
/*.btn-menu {
    width: 44px;
    height: 44px;
    margin: 0 6px;
}*/
a.round {

    border-radius: 50%;

    height: 40px;

    width: 40px;

}
/*Buttons-end*/

.content {
    background: #fff;
    /* padding: 30px; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* box-shadow: 0 24px 48px rgb(230 235 245 / 40%), 0 1px 4px #e3ebfc;
    border:1px solid #eee; */
}
.block{
    background: #fff;
    /* padding: 30px; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* box-shadow: 0 24px 48px rgb(230 235 245 / 40%), 0 1px 4px #e3ebfc; */
}

/*
.side {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
}
*/
.side.card {
    border: none;
    /* box-shadow: 0 24px 48px rgb(230 235 245 / 40%), 0 1px 4px #e3ebfc; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /* padding: 30px; */
    /* border:1px solid #eee; */
}
.side .card-header {
    border: none;
    background: none;
    padding: 0;
}
.side h5{
    padding: 0;
    margin: 0;
}
.card-body {
    padding: 1rem 0;
} 
.row.times {
    padding-bottom: 5px;
}
body a {
    color: var(--blue);
    text-decoration: none;
    background-color: transparent;
    font-weight: 400;
}
body a:hover, body a:focus {
    color: #E04E39;
    text-decoration: none;
}
a.nav-link {
	display: block;
	padding: 0;
}
.navbar-light .navbar-nav .nav-link {
    color: var(--blue);
   
}
header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    z-index: 2;
    margin: 0 auto;
    width: 100%;
    background: #fff;
}

header .navbar {
    background: #fff;
}

div#navbarToggler {
    background: #fff;
}
.left-border-coral {
    background: #E04E39;
    color: #fff;
}
div.alert-coral{
    border: 2px solid #E04E39;
}

#section-footer {
	background: #fafcff;
    border-top: 1px solid #eee;
}
.mt-auto, .my-auto {
    margin-top: auto!important;
}
body.h-100 {
	height:  100vh!important;
}
body h1 {
    font-weight: 700;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    line-height: 1;
    letter-spacing: 0px;
}
a.nav-link {
    color: var(--blue);
}

button.navbar-toggler {
    background-color: var(--corall);
}
.input-group .btn {
    position: relative;
    z-index: 1;
}
button:focus {
    outline: none!important;
    outline: none!important;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: var(--blue);
}
.dropdown-menu.show a:hover {
    background: none;
    color: var(--corall)!important;
}
i.fa {
    vertical-align: middle;
}
.body-brown {
	background-color: #623B2A;
	color: #fff;
}
form .form-control:focus {
    background-color: #fff;
    border-color: var(--blue);
    outline: 0;
    box-shadow: 0 0 0 0.2rem #0079c330;
}
.category {
    /*border: 1px solid var(--blue);*/ 
    min-height: 25rem; 
    height:100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.category:hover {
    box-shadow: 0 24px 48px #e6ebf5!important;
}
.icon-block {
    font-weight: 500;
    color: var(--blue);
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: 0px;
}
.category-image img {
    height: 60px;
}
a.category-link {
    color: #282E39;
}
a.category-link:hover {
    color: var(--corall);
} 
.category-image {
    font-size: inherit;
    line-height: normal;
    display: inline-block;
    margin-bottom: 10px;
    min-height:60px;
}
.category-description {
    color:inherit;
    max-height:200px;
    overflow:hidden;
}
.badge-outline-blue {
    background: var(--blue);
    border: 2px solid #fff;
    font-weight: 400;
    font-size: 0.7rem;
}
.badge-corall {
    background: var(--corall);
    border: 2px solid #fff;
    font-weight: 400;
    font-size: 0.7rem;
}
.badge-blue {
    background: var(--blue);
    border: 2px solid #fff;
    font-weight: 400;
    font-size: 0.7rem;
}
.badge-brown {
    background: var(--brown);
    border: 2px solid #fff;
    font-weight: 400;
    font-size: 0.7rem;
}

.badge-light {
    background-color: #909090;
    border: 1px solid #909090;
    font-weight: 400;
    font-size: 0.7rem;
}
#table-tickets td:first-child {
    text-align: center;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #eee;
}
.bs-callout-info {
    border-left-color: var(--primary);
}
.bs-callout-coral {
    border-left-color: var(--corall);
}
.bs-callout-brown {
    border-left-color: #623B2A;
}
table.table .thead-dark th {
    color: #fff;
    background-color: var(--blue);
    border-color: var(--blue);
    font-size: 1rem;
    font-weight: 400;
    vertical-align: middle;
}
/*
main .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(195 147 103 / 0.8);
    border-bottom: 1px solid rgb(197 147 104 / 0.8);
    color: #fff;
}
*/
/*List*/
.list3a {
    padding:0;
    list-style: none;
    counter-reset: li;
}   
.list3a li {
    position: relative;
    border-left: 4px solid var(--corall);
    padding: 11px 15px 15px 25px;
    margin: 15px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

ol, ul, dl {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 2rem;
    line-height: 1.5rem;
}
/*Tabs*/
ul.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 0;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 10px 20px;;
}
.nav-pills .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 10px 20px;;
}
.nav-pills.corall .nav-link {
    border: 1px solid;
    border-color: var(--blue);
    margin-right: 15px;
    color: #000;
}
.nav-pills.corall .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background: var(--corall);
    border-color: var(--corall);
}
.tab-content .tab-pane {
    padding: 30px 0px;
}

/*Forms*/
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #c39367;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(195 147 103 / 30%);
}
form.mfcb .form-group {
    margin-right: 0;
    margin-left: 0;
    padding: 0 10px;
}
form.mfcb .form-control {
    display: block;
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.step__name {
    padding: 10px 20px;
    background: #c39367;
    display: inline-block;
    color: #fff;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.step > .step {
    padding: 15px 0;
}
.form .action-buttons {
    padding: 15px 0;
}
form .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    background: #eee;
    cursor: not-allowed;
    border: 1px solid #eee;
    color: #000;
}
form .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: var(--brown);
    color: #fff;
    border: 1px solid var(--brown);
}
.nav.nav-tabs {
    margin-bottom: 0px!important;
    border: none;
    overflow: hidden;
}

form label {
    font-weight: 600;
}
form p label {
    font-weight: normal;
}
/*Profile*/
.avatar {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
    object-fit: cover;
}

/*Menu*/
.right-menu {
    background: rgb(195 147 103 / 0.6);
    color:#623b2a;

}
a.right-menu-link {
    color: #000;
    display: block;
    padding: 15px 0;
}
a.right-menu-link:hover {
    color: #ffffff;
    background: #c39367;
}
.right-menu hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(255 255 255);
    padding: 0;
    margin: 0;
}

/*Category*/
.category.corall {
    border-color: var(--corall)
}


/*Main page*/
.main-container {
    background: #fff;
    padding: 80px 0;
}
.slider {
    padding: 85px 0 0 0;
}
.card-brown {
    background-color: var(--blue);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    transition-duration: 0.4s;
    box-shadow: 0 24px 48px rgb(230 235 245 / 40%), 0 1px 4px #e3ebfc;
    text-align: center;
    padding: 30px;
    color: #fff;
    min-height: 360px;
}
.box {
    width: 180px;
    padding: 20px;
}
.box-white {
    transition-duration: 0.4s;
    box-shadow: 0 24px 48px rgb(230 235 245 / 40%), 0 1px 4px #e3ebfc;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    /*font-size: 1.25rem;*/
    line-height: 1.5rem;
    color: #fff;
    padding-right: 20px;
    background-color: var(--blue);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.features {
    font-weight: 700;
    color: #4f2f22;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 0px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

.icon-invite {
    background: var(--grey);
    color: #fff;
    border-radius: 4px;
    width: 26px;
    height: 26px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}



/*FAQ*/
/* The sidebar menu */
.sidebar {
    height: 100vh;
    width: 400px;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: -405px;
    background-color: #fff;
    border-left:0px solid var(--brown);
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
}

.chatsidebar {
    height: 100vh; 
    width: 400px;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: -405px;
    background-color: #fff;
    border-left:0px solid var(--corall);
    overflow: hidden;
    padding-top: 40px;
    transition: 0.5s;
}
/* The sidebar links */
.sidebar a {
    display: block;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    font-size: 26px;
    right: 15px;
    top: 10px;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--brown);
    color: #fff;
    border: 2px solid  #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}
.chatsidebar .closechatbtn {
    font-size: 26px;
    right: 15px;
    top: 10px;
    position: absolute;
    z-index: 1;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--corall);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}
/* The button used to open the sidebar */
.openbtn {
    z-index: 2;
    font-size: 14px;
    cursor: pointer;
    background-color: var(--brown);
    color: #fff;
    border: 0px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin:0 6px;
}
.openchatbtn {
    z-index: 2;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--corall);
    color: #fff;
    border: 0px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 44px;
    height:44px;
    text-align: center;
    margin:0 5px;
}
.openbtn:hover {
  background-color: #444;
}
.wraperblack {
    height: 100%;
    background: rgb(0 0 0 / 75%);
    display: block;
    z-index: 1100;
    position: fixed;
    width: 100%;
    display: none;
    transition: 0.5s;
}

/*Notice*/
.notice.row {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.notice p {
    padding: 0;
    margin: 0;
}
/*blocks*/
.faq-category__name a {
    display: block;
}
.accordion {
    background: transparent!important;
}
ul.navbar-nav li.nav-item.dropdown-outline-blue {
    border: 1px solid var(--blue);
    text-align: center;
}
ul.navbar-nav li.nav-item.coral {
    border: 1px solid #816254;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    color: #816254;
}
ul.navbar-nav li.nav-item.coral a {
    color:#816254;
}
ul.navbar-nav li.nav-item a {
    font-weight: 400;
    font-style: normal;

    display: flex;
    align-items: center;
}

/*li.nav-item {
    margin: 0 5px;
}*/
/*.item-coral a{
    color:var(--corall)!important;
}*/
.item-coral a:hover, .item-coral a:focus {
    color:var(--brown)!important;
}
a.dropdown-item {
    color: var(--blue)!important;
}
a.dropdown-item:hover, a.dropdown-item:focus, a.dropdown-item:active {
    color: #fff!important;
}
.badge-count {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    max-width: 20px;
}
.btn-close:hover {
    color: #000;
    text-decoration: none;
    opacity: .75;
    transform: rotate(90deg);
    transition: 0.25s;
}
.btn-close:focus, .btn-close:active {
    box-shadow:none;
}
/*.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: .5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 0 0 4px 4px;
    min-width: 170px;
}*/
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(98 59 42);
}


#FaqSidebar::-webkit-scrollbar {
    width: 7px;
    background-color: #f9f9fd;
}
#FaqSidebar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: var(--corall);
}

#FaqSidebar::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: #eee;
}
.faq-category__name a {
    font-size: 1rem;
    color: #C39367;
    font-weight: bold;
    position: relative;
    padding: 0;
    text-decoration: dashed;
    border-bottom: 1px dashed;
}

.faq-category__name a::after {
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 1px solid #C39367;
    border-right: 1px solid #C39367;
    transform: rotate(45deg);
    content: " ";
    width: 10px;
    height: 10px;
}

.faq-category__name a.open::after {
    top: 3px;
    transform: rotate(225deg);
}

.faq-category__name a:hover {
    color: #8E6747;
}

.accordion {
    background: #eee;
}

.faq-items .faq-item a {
    font-size: 1rem;
    color: #C39367;
    padding: 0;
}

.faq-item__description img {
        max-width: 100%;
}
.cards-body img {
    max-width: 100%;
}
.card-link {
    display: list-item;
}
.collapsible-link {
    width: 100%;
    position: relative;
    text-align: left;
}

.collapsible-link::before {
    content: '\f067';
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    display: block;
    font-family: 'FontAwesome';
    font-size: 0.75rem;
}

.collapsible-link[aria-expanded='true']::before {
    content: '\f068';
}


#messages::-webkit-scrollbar {
    width: 7px;
    background-color: #f9f9fd;
}
#messages::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: var(--corall);
}

#messages::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #eee;
}    
.chatbox {
    overflow: hidden;        
}
.chat {
    bottom: 0;
    width: inherit;
    background:#eee;
    max-height: 300px;
    overflow: hidden;
}
.messages {
height: calc(100% - 300px);
overflow-y: auto;
}
/*.page-link {
    color: var(--brown)!important;
}*/
.page-item.active .page-link {
    z-index: 3;
    color: #fff!important;
    background-color: var(--blue)!important;
    border-color: var(--blue)!important;
}
.text-corall {
    color:var(--corall);
}
.accordion-button:focus {
    z-index: 3;
    border-color: #d794656e;
    outline: 0;
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    color: var(--blue);
    background-color: transparent;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button {
    color: var(--blue);
}
@media (min-width: 1200px) {
    .navbar-expand-lg .navbar-toggler {
        display: none!important;
    }
}

.avatar-img {
    height:40px;
}

/* errors */
span.error-number {
    font-size: 5rem;
    color: var(--corall);
    font-weight: 900;
}

.greenrow {
    background: #4caf5069;
}
.yellowrow {
    background: #ffc1076b;
}
.redrow {
    background: #e04e3966;
}
