<template>
  <div class="form-editor">
    <drag :data="data" :deleted_fields="deleted_fields" :supportFields="supportFields" group="template"></drag>
  </div>
</template>

<script>
  import Drag from './form/drag';
  export default {
    name: 'form-editor',
    components: { Drag },
    props: ['data', 'deleted_fields', 'supportFields'],
  }
</script>

