<template>
  <form method="POST" :action="route">
    <input type="hidden" name="_token" :value="csrf">
    <div class="container mb-3">
      <h1>Талон</h1>
      <div class="content shadow-sm p-4">
        <div class="row">
          <div class="form-group col-md-3 mb-3">
            <label class="form-label">Номер талона из Дамаск</label>
            <input id="damask_ticket" name="damask_ticket" :value="damask_ticket" disabled>
          </div>
          <div class="form-group col-md-3 mb-3">
            <label class="form-label">Услуга в терминале</label>
            <input id="damask_service" name="damask_service" :value="damask_service.label" disabled>
          </div>
          <div class="form-group col-md-3 mb-3">
            <label class="form-label" for="user">Посетитель / Пользователь</label>
            <v-select id="user" v-model="selected_user" :options="users" @search="fetchOptions" ></v-select>
            <input type="hidden" name="user_id" :value="selected_user ? selected_user.id : null">
          </div>
          <div class="form-group col-md-4 mb-3">
            <label class="form-label" for="category">Категория услуг</label>
            <v-select id="category" v-model="selected_category" :options="categories"></v-select>
            <input :class="'form-control' + (errors.category_id ? ' is-invalid' : '')" type="hidden" name="category_id" :value="selected_category ? selected_category.id : null">
            <span class="invalid-feedback" role="alert" v-for="error in errors.category_id">
              <strong>{{ error }}</strong>
            </span>
          </div>
          <div class="form-group col-md-4 mb-3">
            <label class="form-label" for="service">Услуга</label>
            <v-select id="service" v-model="selected_service" :options="services"></v-select>
            <input :class="'form-control' + (errors.service_id ? ' is-invalid' : '')" type="hidden" name="service_id" :value="selected_service ? selected_service.id : null">
            <span class="invalid-feedback" role="alert" v-for="error in errors.service_id">
              <strong>{{ error }}</strong>
            </span>
          </div>
          <div class="text-end mb-3">
            <button class="btn btn-blue rounded-pill px-3" type="submit" @click="saveDraftOrder">Сохранить черновик</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-12">
          <div class="content shadow-sm p-4">
            <h4 class="mb-3">Данные пользователя</h4>
            <div class="row">
              <div class="form-group col-md-3 mb-3">
                <label class="form-label">Фамилия</label>
                <input type="text" :class="'form-control' + (errors.firstname ? ' is-invalid' : '')" placeholder="Фамилия" name="firstname" v-model="current_user.firstname">
                <span class="invalid-feedback" role="alert" v-for="error in errors.firstname">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-3 mb-3">
                <label class="form-label">Имя</label>
                <input type="text" :class="'form-control' + (errors.name ? ' is-invalid' : '')" placeholder="Имя" name="name" v-model="current_user.name">
                <span class="invalid-feedback" role="alert" v-for="error in errors.name">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-3 mb-3">
                <label class="form-label">Отчество</label>
                <input type="text" :class="'form-control' + (errors.patronymic ? ' is-invalid' : '')" placeholder="Отчество" name="patronymic" v-model="current_user.patronymic">
                <span class="invalid-feedback" role="alert" v-for="error in errors.patronymic">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-3 mb-3">
                  <label class="form-label">ИНН</label>
                  <input type="text" :class="'mask-inn form-control' + (errors.inn ? ' is-invalid' : '')" placeholder="ИНН"
                        name="inn"
                        v-model="current_user.inn">
                  <span class="invalid-feedback" role="alert" v-for="error in errors.inn">
                    <strong>{{ error }}</strong>
                  </span>
                </div>
            </div>
            <div class="row">
              <div class="form-group col-md-3 mb-3">
                <label class="form-label">Телефон</label>
                <input type="tel" :class="'mask-phone form-control' + (errors.phone ? ' is-invalid' : '')" placeholder="+7-XXX-XXX-XX-XX" name="phone" v-model="current_user.phone">
                <span class="invalid-feedback" role="alert" v-for="error in errors.phone">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-3 mb-3">
                <label class="form-label">Email</label>
                <input type="email" :class="'form-control' + (errors.email ? ' is-invalid' : '')" placeholder="Email" name="email" v-model="current_user.email">
                <span class="invalid-feedback" role="alert" v-for="error in errors.email">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-3 mb-3">
                <label class="form-label">Пароль</label>
                <input type="password" :class="'form-control' + (errors.password ? ' is-invalid' : '')" placeholder="Password" name="password" v-model="current_user.password">
                <span class="invalid-feedback" role="alert" v-for="error in errors.password">
                  <strong>{{ error }}</strong>
                </span>
              </div>
            </div>
            <h4 class="mb-3 mt-5">Паспортные данные</h4>
            <div class="row">
              <div class="form-group col-md-2 mb-3">
                <label class="form-label">Серия паспорта</label>
                <input type="text" :class="'mask-pas-number form-control' + (errors.passport_serial ? ' is-invalid' : '')"
                      placeholder="Серия паспорта"
                      name="passport_serial"
                      v-model="current_user.passport_serial">
                <span class="invalid-feedback" role="alert" v-for="error in errors.passport_serial">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-2 mb-3">
                <label class="form-label">Номер паспорта</label>
                <input type="text" :class="'mask-pas-seria form-control' + (errors.passport_number ? ' is-invalid' : '')"
                      placeholder="Номер паспорта"
                      name="passport_number"
                      v-model="current_user.passport_number">
                <span class="invalid-feedback" role="alert" v-for="error in errors.passport_number">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-2 mb-3">
                <label class="form-label">Дата выдачи</label>
                <input type="date" :class="'form-control' + (errors.passport_date ? ' is-invalid' : '')"  placeholder="01.01.1980"
                      name="passport_date"
                      v-model="current_user.passport_date">
                <span class="invalid-feedback" role="alert" v-for="error in errors.passport_date">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-2 mb-3">
                <label class="form-label">Код подразделения</label>
                <input type="text" :class="'mask-subdivision form-control' + (errors.passport_subdivision ? ' is-invalid' : '')"
                      placeholder="000-000"
                      name="passport_subdivision"
                      v-model="current_user.passport_subdivision">
                <span class="invalid-feedback" role="alert" v-for="error in errors.passport_subdivision">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-2 mb-3">
                <label class="form-label">Пол</label>
                <select type="select" :class="'form-select' + (errors.sex ? ' is-invalid' : '')" placeholder="Пол" name="sex" v-model="current_user.sex">
                  <span class="invalid-feedback" role="alert" v-for="error in errors.sex">
                    <strong>{{ error }}</strong>
                  </span>
                  <option value="M">
                    Мужской
                  </option>
                  <option value="F">
                    Женский
                  </option>
                </select>
              </div>
                <div class="form-group col-md-2 mb-3">
                  <label class="form-label">Дата рождения</label>
                  <input type="date" :class="'form-control' + (errors.birthday ? ' is-invalid' : '')" name="birthday" placeholder="Дата рождения" v-model="current_user.birthday">
                    <span class="invalid-feedback" role="alert" v-for="error in errors.birthday">
                      <strong>{{ error }}</strong>
                    </span>
                </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6 mb-3">
                <label class="form-label">Кем выдан</label>
                <input type="text" :class="'form-control' + (errors.passport_organization ? ' is-invalid' : '')" placeholder="Кем выдан"
                      name="passport_organization"
                      v-model="current_user.passport_organization">
                <span class="invalid-feedback" role="alert" v-for="error in errors.passport_organization">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-6 mb-3">
                <label class="form-label">Адрес регистрации</label>
                <input type="text" :class="'form-control' + (errors.registration_place ? ' is-invalid' : '')" placeholder="Адрес прописки"
                      name="registration_place"
                      v-model="current_user.registration_place">
                <span class="invalid-feedback" role="alert" v-for="error in errors.registration_place">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label class="form-label">Место рождения</label>
                <input type="text" :class="'form-control' + (errors.bornplace ? ' is-invalid' : '')" placeholder="Место рождения" name="bornplace" v-model="current_user.bornplace">
                <span class="invalid-feedback" role="alert" v-for="error in errors.bornplace">
                    <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label class="form-label">СНИЛС</label>
                <input type="text" :class="'mask-snils form-control' + (errors.snils ? ' is-invalid' : '')" placeholder="СНИЛС"
                      name="snils"
                      v-model="current_user.snils">
                <span class="invalid-feedback" role="alert" v-for="error in errors.snils">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-4 mb-3">
                <label class="form-label">Гражданство</label>
                <input type="text" :class="'form-control' + (errors.citizenship ? ' is-invalid' : '')" placeholder="Гражданство"
                      name="citizenship"
                      v-model="current_user.citizenship">
                <span class="invalid-feedback" role="alert" v-for="error in errors.citizenship">
                  <strong>{{ error }}</strong>
                </span>
              </div>
            </div>
            <h4 class="mb-3 mt-5">Данные организации</h4>
            <div class="row">
              <div class="form-group col-md-3 mb-3">
                <label class="form-label" for="company_inn">ИНН (для ООО, АО)</label>
                <input type="text" :class="'mask-company-inn form-control' + (errors.company_inn ? ' is-invalid' : '')" id="company_inn"
                      placeholder="ИНН" name="company_inn"
                      v-model="current_user.company_inn">
                <span class="invalid-feedback" role="alert" v-for="error in errors.company_inn">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-3 mb-3">
                <label class="form-label" for="company_ogrn">ОГРН (ОРГНИП)</label>
                <input type="text" :class="'mask-company-ogrn form-control' + (errors.company_ogrn ? ' is-invalid' : '')" id="company_ogrn"
                      placeholder="ОГРН (ОГРНИП)" name="company_ogrn"
                      v-model="current_user.company_ogrn">
                <span class="invalid-feedback" role="alert" v-for="error in errors.company_ogrn">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-3 mb-3">
                <label class="form-label" for="company_kpp">КПП</label>
                <input type="text" :class="'mask-company_kpp form-control' + (errors.company_kpp ? ' is-invalid' : '')" id="company_kpp"
                      placeholder="КПП" name="company_kpp"
                      v-model="current_user.company_kpp">
                <span class="invalid-feedback" role="alert" v-for="error in errors.company_kpp">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-3 mb-3">
                <label class="form-label" for="organization_date">Дата регистрации</label>
                <input type="date" :class="'form-control' + (errors.organization_date ? ' is-invalid' : '')" id="organization_date"
                      placeholder="01.01.1945"
                      name="organization_date"
                      v-model="current_user.organization_date">
                <span class="invalid-feedback" role="alert" v-for="error in errors.organization_date">
                  <strong>{{ error }}</strong>
                </span>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12 mb-3">
                <label class="form-label" for="company_name">Полное наименование</label>
                <input type="text" :class="'form-control' + (errors.company_name ? ' is-invalid' : '')" id="company_name" aria-describedby="info"
                      placeholder="Полное наименование" name="company_name"
                      v-model="current_user.company_name">
                <span class="invalid-feedback" role="alert" v-for="error in errors.company_name">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-12 mb-3">
                <label class="form-label" for="company_adress">Юридический адрес</label>
                <input type="text" :class="'form-control' + (errors.company_adress ? ' is-invalid' : '')" id="company_adress"
                      placeholder="Юридический адрес" name="company_adress"
                      v-model="current_user.company_adress">
                <span class="invalid-feedback" role="alert" v-for="error in errors.company_adress">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-6 mb-3">
                <label class="form-label" for="company_ceo">Должность руководителя</label>
                <input type="text" :class="'form-control' + (errors.company_ceo ? ' is-invalid' : '')" id="company_ceo"
                      placeholder="Должность руководителя" name="company_ceo"
                      v-model="current_user.company_ceo">
                <span class="invalid-feedback" role="alert" v-for="error in errors.company_ceo">
                  <strong>{{ error }}</strong>
                </span>
              </div>
              <div class="form-group col-md-6 mb-3">
                <label class="form-label" for="company_ceo_fio">ФИО Руководителя</label>
                <input type="text" :class="'form-control' + (errors.company_ceo_fio ? ' is-invalid' : '')" id="company_ceo_fio"
                      placeholder="Фамилия Имя Отчество" name="company_ceo_fio"
                      v-model="current_user.company_ceo_fio">
                <span class="invalid-feedback" role="alert" v-for="error in errors.company_ceo_fio">
                  <strong>{{ error }}</strong>
                </span>
              </div>
            </div>
            <div class="text-end">
              <button class="btn btn-corall rounded-pill px-3" type="submit" @click="saveOrder">Создать заявку</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import VSelect from 'vue-select';
import _ from 'lodash';

export default {
  name: 'order.create',
  components: {VSelect},
  data: () => ({
    route: {},
    csrf: window.csrf,
    services: window.services,
	  categories: window.categories,
    users: [],
    selected_service: { 'id' : null, 'label' : 'Выберите услугу' },
	  selected_category: { 'id' : null, 'label' : 'Выберите категорию' },
	  selected_user: {'id': false, 'label': "Введите ИНН или ФИО заявителя"},
    old_values: window.old_values,
	  errors: window.errors,
    damask_ticket: 0,
    damask_service: {'id': null, 'label': 'Название не указано'},
	  current_user: {
    	id:null,
		  firstname: null,
		  name: null,
		  patronymic: null,
		  sex: null,
		  birthday: null,
		  phone:null,
		  email:null,
		  password: null,
		  bornplace:null,
		  passport_serial:null,
		  passport_number:null,
		  passport_date:null,
		  passport_subdivision:null,
		  passport_organization:null,
		  registration_place:null,
		  inn:null,
		  snils:null,
		  citizenship:null,
		  company_inn:null,
		  company_ogrn:null,
		  company_kpp:null,
		  organization_date:null,
		  company_name:null,
		  company_adress:null,
		  company_ceo:null,
		  company_ceo_fio:null,
	  }
  }),
  created() {
    for (let old_value in old_values) {
	    this.current_user[old_value] = old_values[old_value]
    }
  },
	watch: {
		selected_user: function (value) {
      if (value == null) {
        this.selected_user =  {'id': false, 'label': "Введите ИНН или ФИО заявителя"};
      }
      this.selectUser();
		},
    selected_category: function (value) {
      if (value == null) {
        this.selected_category =  {'id': null, 'label': 'Выберите категорию'};
      }
      this.selectCategory();
    },
    selected_service: function (value) {
      if (value == null) {
        this.selected_service =  {'id': null, 'label': 'Выберите услугу'};
      }
      this.selectService();
    }
	},
  methods: {
    fetchOptions (search, loading) {
	    if (search !== "") {
		    loading(true);
		    this.filterUsers(search, loading, this);
	    } else {
        this.users = [];
      }
    },
	  filterUsers: _.debounce((search, loading, vm) => {
		  $.ajax({
			  url: `/api/order/filtered-users`,
			  data: {
				  name: search,
				  _token: $('meta[name="csrf-token"]').attr('content')
			  },
			  type: 'POST',
			  success: (users) => {
				  vm.users = users;
				  loading(false);
			  }
		  }).catch(() => loading(false));
	  }, 250),
	  selectUser() {
		    $.ajax({
			    url: '/api/order/select-user',
			    data: {
				    user_id: this.selected_user.id,
				    _token: $('meta[name="csrf-token"]').attr('content')
			    },
			    type: 'POST',
			    success: (user) => {
				    this.current_user = user;
			    }
		    });
	  },
	  selectCategory() {
		  $.ajax({
			  url: '/api/order/select-category',
			  data: {
				  category_id: this.selected_category.id,
				  _token: $('meta[name="csrf-token"]').attr('content')
			  },
			  type: 'POST',
			  success: (services) => {
				  this.services = services;
			  }
		  });
	  },
    selectService() {
      $.ajax({
        url: '/api/order/select-service',
        data: {
          service_id: this.selected_service.id,
          _token: $('meta[name="csrf-token"]').attr('content')
        },
        type: 'POST',
        success: (category) => {
          if (category.length)
            this.selected_category = category[0];
        }
      });
    },
	  saveDraftOrder(){
			this.route = window.store_draft;
	  },
	  saveOrder(){
		  this.route = window.store_order;
	  }
  },
}
</script>


<style lang="css">

.vs__selected-options {
  flex-wrap: nowrap;
  max-width: calc(100% - 41px);
}

.vs__selected {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}

.vs__search {
  position: absolute;
}

.vs--open .vs__search {
  position: static;
}

.vs__dropdown-option {
  white-space: normal;
}

</style>
