<template>
  <div>
    <div class="row mt-12">
      <div class="col-md-8 mb-3">
        <h1 class="mb-4">Талоны в очереди</h1>
      </div>
      <div class="col-md-4 mb-3 text-end">
        <a type="button" class="btn btn-corall rounded-pill px-3" @click="createOrder">Создать талон</a>
      </div>
    </div>
    <div class="content shadow-sm p-4" v-if="orders.data.length > 0">	    
      <table class="table table-bordered align-middle table-responsive-sm">
        <thead class="thead-dark">
        <tr class="text-center">
          <th>Филиал</th>
          <th>Услуга</th>
          <th>№</th>
          <th>Создан</th>
          <th>Статус</th>
          <th>Оператор</th>
          <th>Изменен</th>
          <th>Заявитель</th>
          <th>ИНН</th>
          <th>Действие</th>
        </tr>
        </thead>
        <tbody>
          <tr v-for="order in orders.data" :key="order.id">
            <td>{{ order.affiliate ? order.affiliate.name : ''}}</td>
            <td>{{ order.service ? order.service.name : ''}}</td>
            <td class="">
              <a v-if="order.operator_id == current_operator.id" :href="'/order/' + order.id">{{ order.coupon }}</a>
              <span v-else>{{ order.coupon }}</span>
            </td>
            <td>{{ ruDateFormat(order.created_at) }}</td>
            <td>{{ ruStatus(order.status) }}</td>
            <td>{{ userFullName(order.operator) }}</td>
            <td>{{ ruDateFormat(order.updated_at) }}</td>
            <td>{{ userFullName(order.user, order.operator) }}</td>
            <td>{{ userInn(order.user) }}</td>
            <td class="text-center">
              <button class="btn btn-sm btn-corall" @click="setInWorkStatus(order)" v-if="order.status === 'R'">Взять в работу</button>
            </td>
          </tr>
        </tbody>        
      </table>
      <div class="d-flex text-end justify-content-end">
        <paginate :value="orders.page"
                  @input="changePage"
                  :page-count="orders.pages"
                  :margin-pages="2"
                  :page-range="5"
                  :first-last-button="true"
                  :hide-prev-next="false"
                  :container-class="'pagination'"
                  :page-class="'page-item'"
                  :page-link-class="'page-link'"
        ></paginate>
      </div>
    </div>
    <div v-else class="content shadow-sm p-4">
      Нет талонов в очереди на текущий день
    </div>
  </div>
</template>

<script>
  import moment from 'moment';
  import Paginate from '../../paginate';
  import { statuses } from '../../../services/statuses.js';
  export default {
    name: 'order.index',
    components: { Paginate },

    data: () => ({
      operators: [],
	    current_operator: window.operator,
      orders: {
        data: window.orders.data || [],
        page: window.orders.current_page || 0,
        pages: window.orders.last_page || 0,
      },
      filter: {
        operator: '',
        status: '',
        start_date: '',
        end_date: '',
        created_at: moment().format("DD-MM-YYYY"),
      },
      currentWindow: window.currentWindow,
    }),
    methods: {
    	userFullName(user, operator = null)
	    {
	      if(operator && user.id === operator.id) {
          return 'Не указано';
        }

        return (user.firstname ?? '') + ' ' + (user.name ?? '') + ' ' + (user.patronymic ?? '');
	    },
      userInn(user)
	    {
	    	return (user.inn ?? '');
	    },
      ruDateFormat(date) {
        return date ? moment(date).format("DD.MM.YYYY HH:mm") : '';
      },
      ruStatus(status) {
        return statuses[status];
      },
      changePage(val) {
    	  const params = this.getParams();

        $.ajax(`/api/order?page=${val}` + '&' + params.join('&'), {
          success: ({ orders }) => {
            this.orders.data = orders.data;
            this.orders.page = orders.current_page;
            this.orders.pages = orders.last_page;
          }
        });
      },
      changeWindow() {
          new bootstrap.Modal($('#select-window'), {
              backdrop: 'static',
              keyboard: false,
          }).show();
      },
      setInWorkStatus(o) {
        $.ajax({
          url: `/api/order/${ o.id }/status`,
          data: {
            operator_id: window.user.id,
            status: 'W',
            _token: $('meta[name="csrf-token"]').attr('content')
          },
          type: 'POST',
          success: ({ order, token }) => {
            $('meta[name="csrf-token"]').attr('content', token);
	          o.status = order.status;
	          o.operator = window.user;
            this.$nextTick(() => this.$forceUpdate());

            this.$flash_success('Параметры заявки успешно обновлены');
          }
        });
      },
	    createOrder(){
		    document.location.href = '/order/create';
	    },
      getParams(){
        const params = [];
        if (this.filter.operator) {
          params.push(`operator=${this.filter.operator}`);
        }
        if (this.filter.status) {
          params.push(`status=${this.filter.status}`);
        }
        if (this.filter.start_date) {
          params.push(`start_date=${this.filter.start_date}`);
        }
        if (this.filter.end_date) {
          params.push(`end_date=${this.filter.end_date}`);
        }
        if (this.filter.created_at) {
          params.push(`created_at=${this.filter.created_at}`);
        }

        return params;
      },
      loadOrders() {
        const params = this.getParams();

        $.ajax(`/api/order${params.length > 0 ? '?' + params.join('&') : ''}`, {
          success: ({ orders }) => {
            this.orders.data = orders.data;
            this.orders.page = orders.current_page;
            this.orders.pages = orders.last_page;
          }
        });
      }
    },
    computed: {
      statuses() {
        return statuses;
      }
    },
    created() {
      this.loadOrders();

      $.ajax(`/api/user?role=operator`, {
        success: ({ users }) => {
          this.operators = users;
        }
      });
    }
  }
</script>
