<template>
  <div class="editor-element">
    <div class="editor-element__title">
      <label><i class="voyager-handle"></i> {{ data.title }}</label>
      <div class="m-auto"></div>
      <div class="text-right">
        <button class="btn btn-success btn-sm btn-close" type="button" @click="clonePopup"><i
          class="voyager-documentation" title="копировать" alt="Копировать"></i>
        </button>
        <button class="btn btn-warning btn-sm btn-close" type="button" @click="openPopup"><i class="voyager-edit"></i>
        </button>
        <button class="btn btn-danger btn-sm btn-close" type="button" @click="remove"><i class="voyager-trash"></i>
        </button>
      </div>
    </div>
    <div class="editor-element__body">
      <div class="m-auto">
        <label>Сопоставление с MSP</label>
        <select v-model="data.code" class="btn btn-outline-light btn-sm-close" :supportFields="supportFields">
          <option v-bind:value="''"> Не указано </option>
          <option v-for="field in supportFields" v-bind:value="field.code"> {{ field['name'] }}</option>
        </select>
      </div>
      <div v-if="data.tag === 'input'">
        <input class="form-control" :type="data.type" :placeholder="data.placeholder" disabled>
      </div>
      <div v-if="data.tag === 'select'">
        <select class="form-control" disabled>
          <option v-for="option in data.options" :selected="option.selected">{{ option.name }}</option>
        </select>
      </div>
      <div v-if="data.tag === 'radio'">
        <p v-for="option in data.options">
          <label>
            <input type="radio" disabled :checked="option.selected">
            {{ option.name }}
          </label>
        </p>
      </div>
      <div v-if="data.tag === 'checkbox'">
        <p v-for="option in data.options">
          <label>
            <input type="checkbox" disabled :checked="option.selected">
            {{ option.name }}
          </label>
        </p>
      </div>
      <div v-if="data.tag === 'accordion'">
        <div v-for="option in data.options">
          <div v-html="option.value"></div>
          <div v-html="option.text"></div>
        </div>
      </div>
      <div v-if="data.tag === 'textarea'">
        <textarea class="form-control" :placeholder="data.placeholder" disabled></textarea>
      </div>
      <div v-if="data.tag === 'custom'" v-html="data.text"></div>
    </div>

    <editor-element-popup
      v-if="showPopup"
      :popup-data="popupData"
      @save="savePopup"
      @close="showPopup = false"
    ></editor-element-popup>

  </div>
</template>

<script>
import EditorElementPopup from './editor-element-popup';

export default {
  name: 'editor-element',
  components: {EditorElementPopup},
  props: ['data', 'supportFields'],
  data: () => ({
    showPopup: false,
    popupData: {},
    tinymce: null,
  }),
  methods: {
    remove() {
      this.$emit('remove', this.data);
    },
    openPopup() {
      if (this.data.userField) return;

      this.popupData = JSON.parse(JSON.stringify(this.data));

      if (!this.popupData.conditions) {
        this.popupData.conditions = {
          conditions: [],
          type: "AND"
        };
      }

      this.showPopup = true;

      this.$nextTick(() => {
        const additionalConfig = {
          selector: 'textarea.richTextBox',
          min_height: 150,
        };

        tinymce.init(window.voyagerTinyMCE.getConfig(additionalConfig)).then(inst => {
          this.tinymce = inst;
        });
      });
    },
    savePopup(popupData) {
      Object.keys(popupData).forEach(key => {
        this.data[key] = popupData[key];
      });

      if (this.data.tag === 'custom' && this.tinymce.length > 0) {
        this.data.text = this.tinymce[0].getContent();
        this.tinymce[0].destroy();
        this.tinymce = null;
      }

      if (this.data.tag !== 'custom' && this.tinymce.length > 0) {
        if (this.data.tag === 'accordion') {
          this.data.options.forEach((el, i) => {
            el.text = this.tinymce[i].getContent();
            this.tinymce[i].destroy();
          })
        } else {
          this.data.hint = this.tinymce[0].getContent();
          this.tinymce[0].destroy();
        }
        this.tinymce = null;
      }

      this.showPopup = false;

      this.$flash_success('Поле успешно обновлено');
    },
    clonePopup() {
      this.$emit('copy', this.data);
    },
  },
}
</script>

<style lang="scss" scoped>
.editor-element {
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  margin-bottom: 10px;

  &__title {
    background-color: #eeeeee;
    display: flex;
    padding: 10px;

    p {
      color: black;
      margin: 0;
      cursor: pointer;
    }

    .m-auto {
      margin: auto;
    }

    .close {
      border: none;
      background-color: transparent;
      color: #0b0b0b;
      cursor: pointer;
      transition: .3s;
      font-size: 14px;

      &:hover {
        color: black;
      }
    }
  }

  &__body {
    padding: 10px;
  }
}
</style>
