<template>
  <draggable
    class="templates"
    :list="elements"
    :group="{ name: 'template', pull: 'clone', put: false }"
    :clone="clone"
  >
    <div class="template" v-for="element in elements">
      <div v-for="col in element.cols" :class="`col-xs-${col.number}`">{{ col.number }}</div>
    </div>
  </draggable>
</template>

<script>
  import Draggable from 'vuedraggable';

  export default {
    name: 'templates',
    components: { Draggable },
    props: ['elements'],
    methods: {
      clone(element) {
        return JSON.parse(JSON.stringify(element));
      }
    }
  }
</script>

<style lang="scss" scoped>
  .templates {
    .template {
      margin-bottom: 10px;
      overflow: hidden;
      background-color: #FFFFFF;
      text-align: center;

      div {
        border: 1px solid black;
        border-right: none;

        &:last-child {
          border-right: 1px solid black;
        }
      }
    }
  }
</style>
