<template>
  <div class="accordion" id="accordionExample">
    <div v-for="option in elm.options">
      <div class="accordion-item">
        <h2 class="accordion-header" :id="'accordion_' + option.id">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  :data-bs-target="'#collapse_' + option.id" aria-expanded="false"
                  :aria-controls="'collapse_' + option.id">
            {{ option.value }}
          </button>
        </h2>
        <div :id="'collapse_' + option.id" class="accordion-collapse collapse"
             :aria-labelledby="'accordion_' + option.id" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="custom-text" v-html="option.text"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'accordion-element',
  props: ['elm'],
}
</script>

<style scoped>

</style>