<template>
  <div class="mb-3" v-if="elm.type === 'file'">
    <label :for="elm.name" class="form-label">
      {{ elm.title }}      
    </label>
    <button v-if="elm.hint" type="button" v-tooltip="{content: elm.hint, html: true}">?</button>
    <input
      :id="elm.name"
      :type="elm.type"
      :name="`${elm.name}${elm.multiple ? '[]' : ''}`"
      v-model="elm.value"
      :multiple="elm.multiple"
      :class="{ error: validation.hasError('elm.value') }"
      class="form-control"
    >
    <div class="message" v-if="validation.hasError('elm.value')">{{ validation.firstError('elm.value') }}</div>
  </div>
  <div class="mb-3" v-else-if="elm.userField">
    <label class="form-label">{{ elm.title }}</label>
    <input class="form-control" type="text" readonly :value="getUserField(elm.bind)" :name="elm.name">
  </div>
  <div class="mb-3" v-else>
    <label :for="elm.name" class="form-label">
      {{ elm.title }}
      <button v-if="elm.hint" type="button" v-tooltip="{content: elm.hint, html: true}">?</button>
    </label>
    <masked-input
      v-if="elm.type === 'tel'"
      class="form-control"
      :class="{error: validation.hasError('elm.value')}"
      :id="elm.name"
      :type="elm.type"
      :name="elm.name"
      :placeholder="elm.placeholder"
      :mask="elm.mask"
      v-model="elm.value"
    ></masked-input>

    <input
      v-else
      class="form-control"
      :class="{error: validation.hasError('elm.value')}"
      :id="elm.name"
      :type="elm.type"
      :name="elm.name"
      :placeholder="elm.placeholder"
      v-model="elm.value"
    >
    <div class="message" v-if="validation.hasError('elm.value')">{{ validation.firstError('elm.value') }}</div>
  </div>
</template>

<script>
  import MaskedInput from 'vue-masked-input';
  import { Validator } from 'simple-vue-validator';

  export default {
    name: 'input-element',
    components: { MaskedInput },
    props: ['elm'],
    methods: {
      getUserField(bind) {
        return window.user[bind];
      }
    },
    validators: {
      'elm.value'(val) {
        const validator = Validator.value(val || '');
        if (this.elm.required) {
          validator.required('Поле обязательно для заполнения');
        }

        if (this.elm.type === 'email') {
          validator.email('Поле должно быть корректным адресом электронной почты');
        }

        if (this.elm.type === 'tel') {
          validator.regex('^\\+7 \\([0-9]{3}\\) [0-9]{3} [0-9]{2}\\-[0-9]{2}$', 'Поле должно быть корректным номером телефона');
        }

        return validator;
      }
    },
  }
</script>

<style lang="scss" scoped>
  input.error {
    border-color: var(--corall);
  }

  .message {
    color: var(--corall);
  }
</style>
