<template>
  <div class="mb-3">
    <label :for="elm.name" class="form-label">
      {{ elm.title }}
      <button v-if="elm.hint" type="button" v-tooltip="{content: elm.hint, html: true}">?</button>
    </label>
    <textarea class="form-control" :id="elm.name" :name="elm.name" :placeholder="elm.placeholder" v-model="elm.value"></textarea>

    <div class="message" v-if="validation.hasError('elm.value')">{{ validation.firstError('elm.value') }}</div>
  </div>
</template>

<script>
  import { Validator } from 'simple-vue-validator';

  export default {
    name: 'textarea-element',
    props: ['elm'],
    validators: {
      'elm.value'(val) {
        const validator = Validator.value(val || '');
        if (this.elm.required) {
          validator.required('Поле обязательно для заполнения');
        }

        return validator;
      }
    },
  }
</script>

<style scoped>
  .message {
    color: var(--corall);
  }
</style>
