<template>
  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Форма слишком большая!</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            <strong>Вы видете это сообщение, потому что выбранные вами файлы превышают максимальный размер формы в 50Мб.</strong>
          </p>
          <p>Если вы пытались загрузить одновременно несколько файлов (форма позволяет так делать), попробуйте загружать их по
            одному.</p>
          <p>Если не загружается изображение, уменьшите его размер перед загрузкой на сервер. Можно сделать это с помощью
            онлайн-сервисов — например, Tiny PNG.</p>
          <p>Если не загружается видео, попробуйте сохранить его в другом формате и уменьшить размер. Можно сделать это с
            помощью онлайн-сервисов — например, Video Converter.</p>
          <p>Если не загружается PDF-документ, уменьшите его размер. Можно сделать это с помощью онлайн-сервисов — например,
            PDF.io.</p>
          <p>Универсальный вариант — архивация файла со сжатием. Ошибка сервера появляется только в том случае, если вы
            пытаетесь одновременно загрузить слишком большой объем данных. Поэтому и выход во всех ситуациях один — уменьшить
            размер файлов.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" @click.prevent="$emit('close')">Закрыть</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'form-too-large-popup'
  }
</script>

<style lang="scss" scoped>
  .modal {
    display: block;
    background: rgba(0, 0, 0, .7);
    z-index: 64000;
  }
</style>
