<template>
  <div class="step">
    <div class="row mb-3" v-for="row in data">
      <div v-for="col in row.cols" :class="`col-xs-12 col-md-${col.number}`">
        <div class="form-group" v-for="elm in col.data" v-if="checkCondition(elm)">
          <input-element v-if="elm.tag === 'input'" :elm="elm" ref="element"></input-element>
          <select-element v-else-if="elm.tag === 'select'" :elm="elm" ref="element"></select-element>
          <textarea-element v-else-if="elm.tag === 'textarea'" :elm="elm" ref="element"></textarea-element>
          <radio-element v-else-if="elm.tag === 'radio'" :elm="elm" ref="element"></radio-element>
          <checkbox-element v-else-if="elm.tag === 'checkbox'" :elm="elm" ref="element"></checkbox-element>
          <custom-element v-else-if="elm.tag === 'custom'" :elm="elm"></custom-element>
          <accordion-element v-else-if="elm.tag === 'accordion'" :elm="elm"></accordion-element>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InputElement from './elements/input-element';
import SelectElement from './elements/select-element';
import TextareaElement from './elements/textarea-element';
import RadioElement from './elements/radio-element';
import CheckboxElement from './elements/checkbox-element';
import CustomElement from './elements/custom-element';
import AccordionElement from './elements/accordion-element';

export default {
  name: 'step',
  components: {
    AccordionElement,
    CustomElement,
    CheckboxElement,
    RadioElement,
    TextareaElement,
    SelectElement,
    InputElement
  },
  props: ['data'],
  methods: {
    validate() {
      if (this.$refs.element) {
        return Promise.all(this.$refs.element.map(elm => elm.$validate()))
          .then(results => {
            return results.reduce((a, c) => {
              return a && c
            }, true);
          });
      } else {
        return new Promise(resolve => {
          return resolve(true);
        });
      }
    },
    checkCondition(elm) {
      let conditions;
      let conditionType;
      if (Array.isArray(elm.conditions)) {
        conditions = elm.conditions;
        conditionType = 'AND';
      } else if (elm.conditions && Array.isArray(elm.conditions.conditions)) {
        conditions = elm.conditions.conditions;
        conditionType = elm.conditions.type;
      }
      
      if (conditions && conditionType) {
        if (conditions.length === 0) return true;
        
        return conditions.reduce((accum, condition) => {
          if (conditionType === 'AND') {
            if (condition.cond === 'equal') {
              if (Array.isArray(this.formFields[condition.field])) {
                accum = accum &&
                  (
                    this.formFields[condition.field].length > 0 &&
                    !!~this.formFields[condition.field].indexOf(condition.value)
                  );
                
                console.log(this.formFields[condition.field], condition, accum);
              } else {
                accum = accum && this.formFields[condition.field] === condition.value;
              }
            } else {
              if (Array.isArray(this.formFields[condition.field])) {
                accum = accum &&
                  (
                    this.formFields[condition.field].length === 0 ||
                    (
                      this.formFields[condition.field].length > 0 &&
                      !~this.formFields[condition.field].indexOf(condition.value)
                    )
                  );
              } else {
                accum = accum && this.formFields[condition.field] !== condition.value;
              }
            }
          } else {
            if (condition.cond === 'equal') {
              if (Array.isArray(this.formFields[condition.field])) {
                accum = accum ||
                  (
                    this.formFields[condition.field].length > 0 &&
                    this.formFields[condition.field][0] === condition.value
                  );
              } else {
                accum = accum || this.formFields[condition.field] === condition.value;
              }
            } else {
              if (Array.isArray(this.formFields[condition.field])) {
                accum = accum ||
                  (
                    this.formFields[condition.field].length === 0 ||
                    (
                      this.formFields[condition.field].length > 0 &&
                      this.formFields[condition.field][0] !== condition.value
                    )
                  );
              } else {
                accum = accum || this.formFields[condition.field] !== condition.value;
              }
            }
          }
          
          return accum;
        }, conditionType === 'AND');
      }
      
      return true;
    },
  },
  computed: {
    formFields() {
      const fields = {};
      window.form.steps.forEach(step => {
        step.data.forEach(row => {
          row.cols.forEach(col => {
            col.data.forEach(field => {
              fields[field.name] = field.value;
            });
          });
        });
      });
      
      return fields;
    }
  },
}
</script>

<style scoped>

</style>
