<template>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvascomment" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Массовая отправка комментария</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
    <div class="justify-content-center my-0 mx-3">
        <div class="form-group row mt-3">
            <label for="editor" class="col-md-12 col-form-label">Текст комментария</label>
            <div class="col-md-12">
              <textarea id="editor" class="form-control" name="editor" placeholder="Введите тест комметария" v-model="text" required autofocus></textarea>
            </div>
        </div>
        <div class="form-group row mt-3 text-center">
            <div class="col-md-12">
            <button type="submit" class="btn btn-corall" @click="sendComment">
                Отправить
            </button>
            </div>
        </div>
        <div class="text-start mt-3">
          Количество выбранных адресатов :  {{ filteredTickets.length }}
        </div>
    </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ticket.comment',
    props: ['tickets'],
    computed: {
      filteredTickets() {
        return this.tickets
          .filter((ticket) => ticket.checked)
          .map((ticket) => ticket.id)
      }
    },
    data: () => ({
       text: null,
    }),
    methods : {
      sendComment() {
        $.ajax({
          url: `/api/tickets/comment`,
          data: {
            operator_id: window.user.id,
            text: this.text,
            tickets: this.filteredTickets,
            _token: $('meta[name="csrf-token"]').attr('content')
          },
          type: 'POST',
          success: ({ ticket, token }) => {
            $('meta[name="csrf-token"]').attr('content', token);

            bootstrap.Offcanvas.getInstance($("#offcanvascomment")).hide()

            this.$flash_success('Комментарии к заявкам успешно отправлены');
          }
        });
      },
    },
    mounted() {
        $('#offcanvascomment').on('shown.bs.offcanvas', function () {
            $('#editor').trigger('focus');
        });
    }
  }
</script>