<template>
  <div>
    <div class="row mt-12">
      <div class="col-md-8 mb-3">
        <h1 class="mb-4">
          {{ selected_window.id ?selected_window.label : 'Заявки' }}      
        </h1>
      </div>
    </div>
    <div class="row mt-12 ">
      <div class="col-md-8 mb-3">
        <div class="greenrow badge rounded-pill mx-1 " div="">{{ color_indication_counts.greenrow || 0 }}</div>
        <div class="yellowrow badge rounded-pill mx-1 " div="">{{ color_indication_counts.yellowrow || 0 }}</div>
        <div class="redrow badge rounded-pill mx-1 " div="">{{ color_indication_counts.redrow || 0 }}</div>
      </div>
      <div class="col-md-4 mb-3 text-end">
        <button v-if="user.role.name == 'admin'" class="btn btn-outline-blue rounded-pill px-3 mx-1 my-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasstatus" aria-controls="offcanvasstatus">Сменить статус</button>
        <button v-if="user.role.name == 'admin'" class="btn btn-outline-blue rounded-pill px-3 mx-1 my-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvascomment" aria-controls="offcanvascomment">Отправить комментарий</button>
        <a class="btn btn-outline-corall rounded-pill px-3 my-1" href="/ticket/archive">Архив заявок</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 mb-3">
        <div class="content shadow-sm p-4">
          <div class="row mt-12">
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label>Филиал</label>
                <v-select :options="affiliates" :clearable="false" v-model="selected_affiliate">
                  <template #selected-option="{ label }">
                    <div style="display: flex; align-items: baseline">
                      <span>{{ label.length > 38 ? `${label.slice(0, 38)}...` : label }}</span>
                    </div>
                  </template>
                  <span slot="no-options" @click="$refs.select.open = false">
                    Нет вариантов для выбора
                  </span>
                </v-select>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label>Окно</label>
                <v-select :options="windows" :clearable="false" v-model="selected_window" >
                  <template #selected-option="{ label }">
                    <div style="display: flex; align-items: baseline">
                      <span>{{ label.length > 38 ? `${label.slice(0, 38)}...` : label }}</span>
                    </div>
                  </template>
                  <span slot="no-options" @click="$refs.select.open = false">
                    Нет вариантов для выбора
                  </span>
                </v-select>
              </div>
            </div>
          </div>
          <div class="row" style="align-items: flex-end;">
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label>Оператор</label>
                <select class="form-control  form-select" v-model="filter.operator">
                  <option value="">Все</option>
                  <option v-for="operator in operators" :value="operator.id">{{operator.label}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label>Статус</label>
                <select class="form-control form-select" v-model="filter.status">
                  <option value="">Все</option>
                  <option v-for="(name, val) in statuses" :value="val">{{ name }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div class="form-group">
                <label>Создан из</label>
                <select class="form-control form-select" v-model="filter.create_from">
                  <option value="">Все</option>
                  <option v-for="(name, val) in ticket_from" :value="val">{{ name }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <label>Дата начала</label>
                    <input type="date" placeholder="Дата начала" class="form-control" v-model="filter.start_date">
                  </div>
                  <div class="col-md-12 mb-3">
                    <label>Дата завершения</label>
                    <input type="date" placeholder="Дата завершения" class="form-control" v-model="filter.end_date">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 text-end">
              <button class="btn btn-blue" @click="loadTickets">Применить</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10 mb-3">
        <div v-if="tickets.data.length > 0" class="content shadow-sm overflow-auto p-4">  
          <table class="table table-bordered align-middle table-responsive-sm small">
            <thead class="thead-dark">
            <tr class="text-center">
              <th><input type="checkbox" v-model="checked_all_tickets"></th>
              <th v-for="column in columns"
                  class="arrows-container"
                  :class="{active: column == activeColumn}"
                  @click="sortTable(column)"
              >
                <div class="arrows-block d-flex align-items-center justify-content-between">
                  <div class="pr-2">{{ column.title }}</div>
                  <div class="arrows">                    
                    <i :class="[getArrowUpClass(column)]" class="fa fa-solid fa-sort-up" aria-hidden="true"></i>
                    <i :class="[getArrowDownClass(column)]" class="fa fa-solid fa-sort-down" aria-hidden="true"></i>                  
                  </div>
                </div>
              </th>
            </tr>
            </thead>
            <tbody>
              <template v-for="ticket in tickets.data">
                <tr :key="ticket.id" :class="ticket.color_indication">
                  <td><input type="checkbox" v-model="ticket.checked"></td>
                  <td>
                    <router-link :to="{name: 'ticket.show', params: {id: ticket.id}}">{{ ticket.id }}</router-link>
                    <div v-if="ticket.create_from" class="badge rounded-pill bg-warning text-dark">
                      {{ ticket_from[ticket.create_from] }}
                    </div>
                  </td>
                  <td>{{ ticket.affiliate ? ticket.affiliate.name : ''}}</td>
                  <td>{{ ticket.form_result.form.service.window ? ticket.form_result.form.service.window.name : ''}}</td>
                  <td>{{ ticket.operator ?  ticket.operator.firstname + ' ' + ticket.operator.name : '' }}</td>
                  <td>
                    {{ ticket.form_result.form.service.name }}
                  </td>
                  <td>{{ ruStatus(ticket.status) }}</td>
                  <td>{{ ticket.form_result.user.firstname }} {{ ticket.form_result.user.name }} {{ ticket.form_result.user.patronymic }}</td>
                  <td>{{ ticket.form_result.user.inn }}</td>
                  <td>{{ ruDateFormat(ticket.created_at) }}</td>
                  <td>{{ ruDateFormat(ticket.plan_end_date) }}</td>
                  <!--<td>{{ ruDateFormat(ticket.fact_end_date) }}</td>-->
                  <td>
                    <!--<button class="btn btn-corall btn-sm" @click="setInWorkStatus(ticket)" v-if="ticket.status === 'N'">Взять в работу</button>-->
                    <router-link :to="{name: 'ticket.show', params: {id: ticket.id}}">
                      <i v-if="ticket.status === 'N'" class="fa fa-chevron-circle-right fa-2x text-corall"></i>
                      <i v-else="ticket.status === 'N'" class="fa fa-chevron-circle-right fa-2x"></i>
                    </router-link>
                  </td>
                </tr>
              </template>
            </tbody>            
          </table>
          <div class="d-flex text-end justify-content-center">
            <paginate :value="tickets.page"
                      @input="changePage"
                      :page-count="tickets.pages"
                      :margin-pages="2"
                      :page-range="5"
                      :first-last-button="true"
                      :hide-prev-next="false"
                      :container-class="'pagination'"
                      :page-class="'page-item'"
                      :page-link-class="'page-link'"
            ></paginate>
          </div>
        </div>
        <div v-else class="content shadow-sm overflow-auto p-3">
          Список заявок пуст
        </div>
      </div>
    </div>
    <Comment v-if="user.role.name == 'admin'" :tickets="tickets.data"/>
    <Status  v-if="user.role.name == 'admin'" :tickets="tickets.data" :statuses="statuses" @update-tickets="loadTickets()"/>
  </div>
</template>

<script>
  import moment from 'moment';
  import Paginate from '../../paginate';
  import { statuses } from '../../../services/statuses.js';
  import VSelect from 'vue-select';
  import Comment from './comment.vue';
  import Status from './status.vue';

  export default {
    name: 'ticket.index',
    components: {Paginate, VSelect, Comment, Status},
    data: () => ({
      activeColumn: {name: 'created_at', title: 'Дата создания', order: -1},
      columns: [
        {name: 'id', title: '№', class: 'disabled', order: 1},
        {name: 'affiliate.name', title: 'Филиал', class: 'disabled', order: 1},
        {name: 'window', title: 'Окно', class: 'disabled', order: 1},
        {name: 'operator', title: 'Оператор', class: 'disabled', order: 1},
        {name: 'service', title: 'Услуга', class: 'disabled', order: 1},
        {name: 'status', title: 'Статус', class: 'disabled', order: 1},
        {name: 'fio', title: 'Заявитель', class: 'disabled', order: 1},
        {name: 'inn', title: 'ИНН', class: 'disabled', order: 1},
        {name: 'created_at', title: 'Дата подачи', class: 'disabled', order: 1},
        {name: 'plan_end_date', title: 'Плановая дата завершения', class: 'disabled', order: 1},
        //{name: 'fact_end_date', title: 'Фактическая дата завершения', class: 'disabled', order: 1},
        {name: 'status', title: 'Подробнее', class: 'disabled', order: 1},
      ],
      checked_all_tickets: false,
      operators: [],
      tickets: {
        data: [],
        page: window.tickets.current_page || 0,
        pages: window.tickets.last_page || 0,
      },
      filter: {
        operator: '',
        status: '',
        start_date: '',
        end_date: '',
        create_from: '',
      },
      currentWindow: window.currentWindow,
      windows: window.windows,
      user: window.user,
      affiliates: window.affiliates,
      ticket_from: window.ticketFrom,
      color_indication_counts: window.colorIndicationCounts,
      selected_affiliate: { 'id' : false, 'label' : 'Выберите филиал' },
      selected_window: {'id' : false, 'label' : 'Выберите окно'},
      selected_operator: {'id' : false, 'label' : 'Выберите оператора'},
    }),
    watch: {
        selected_affiliate: function (value) {
            if (value != null){
                this.selectAffiliate();
                this.selectWindows();
            }
        },
        selected_window: function (value) {
            if (value != null){
                this.changeWindow();
            }
        },
        checked_all_tickets: function (value) {
          this.tickets.data.map((ticket) => {
            ticket.checked = value
          });
        },
    },
    mounted() {
        this.tickets.data = window.tickets.data.map(ticket => {
          ticket.checked = false;
          return ticket;
        })
    },
    methods: {
      selectAffiliate() {
          $.ajax({
              url: '/api/affiliate/select-operators',
              data: {
                  affiliate_id: this.selected_affiliate.id,
                  _token: $('meta[name="csrf-token"]').attr('content')
              },
              type: 'POST',
              success: (operators) => {
                  this.operators = operators;
              }
          });
      },
      selectWindows() {
        $.ajax({
          url: '/api/affiliate/select-windows',
          data: {
            affiliate_id: this.selected_affiliate.id,
            _token: $('meta[name="csrf-token"]').attr('content')
          },
          type: 'POST',
          success: (windows) => {
            this.windows = windows;
          }
        });
      },
      ruDateFormat(date) {
        return date ? moment(date).format("DD.MM.YYYY HH:mm") : '';
      },
      ruStatus(status) {
        return statuses[status];
      },
      updateColorIndicationCounts() {
        var arr = this.tickets.data;
        var counts = {};

        for(var i = 0; i < arr.length; i++) {
          var key = arr[i].color_indication;
          counts[key] = (counts[key])? counts[key] + 1 : 1;
        }

        this.color_indication_counts = counts;
      },
      changePage(val) {
        const params = [];

        params.push(`sort=${this.activeColumn.name}`);
        params.push(`direction=${this.activeColumn.order > 0 ? 'asc' : 'desc' }`);

        if (this.filter.operator) {
          params.push(`operator=${this.filter.operator}`);
        }
        if (this.filter.status) {
          params.push(`status=${this.filter.status}`);
        }
        if (this.filter.create_from) {
          params.push(`create_from=${this.filter.create_from}`);
        }
        if (this.filter.start_date) {
          params.push(`start_date=${this.filter.start_date}`);
        }
        if (this.filter.end_date) {
          params.push(`end_date=${this.filter.end_date}`);
        }

        $.ajax(`/api/ticket?page=${val}` + '&' + params.join('&'), {
          success: ({ tickets }) => {
            this.tickets.data = tickets.data.map(ticket => {
              ticket.checked = false;
              return ticket;
            });
            this.tickets.page = tickets.current_page;
            this.tickets.pages = tickets.last_page;
            this.updateColorIndicationCounts();
          }
        });
      },
      changeWindow() {
        $.ajax({
          url: `/ticket`,
          data: {
            window_id: this.selected_window.id,
            _token: $('meta[name="csrf-token"]').attr('content')
          },
          type: 'POST',
          success: (response) => {
            this.loadTickets();
          }
        });
      },
      setInWorkStatus(t) {
        $.ajax({
          url: `/api/ticket/${ t.id }/status`,
          data: {
            operator_id: window.user.id,
            status: 'W',
            _token: $('meta[name="csrf-token"]').attr('content')
          },
          type: 'POST',
          success: ({ ticket, token }) => {
            $('meta[name="csrf-token"]').attr('content', token);
            t.status = ticket.status;
            this.$nextTick(() => this.$forceUpdate());

            this.$flash_success('Параметры заявки успешно обновлены');
          }
        });
      },
      loadTickets() {
        const params = [];
        if (this.filter.operator) {
          params.push(`operator=${this.filter.operator}`);
        }
        if (this.filter.status) {
          params.push(`status=${this.filter.status}`);
        }
        if (this.filter.create_from) {
          params.push(`create_from=${this.filter.create_from}`);
        }
        if (this.filter.start_date) {
          params.push(`start_date=${this.filter.start_date}`);
        }
        if (this.filter.end_date) {
          params.push(`end_date=${this.filter.end_date}`);
        }

        params.push(`sort=${this.activeColumn.name}`);
        params.push(`direction=${this.activeColumn.order > 0 ? 'asc' : 'desc' }`);

        $.ajax(`/api/ticket${params.length > 0 ? '?' + params.join('&') : ''}`, {
          success: ({ tickets }) => {
            this.tickets.data = tickets.data.map(ticket => {
              ticket.checked = false;
              return ticket;
            });
            this.tickets.page = tickets.current_page;
            this.tickets.pages = tickets.last_page;
            this.updateColorIndicationCounts();
          }
        });
      },
      sortTable(column) {
        this.activeColumn = column;
        column.order = column.order * (-1);
        this.loadTickets();
      },
      getArrowDownClass(column) {
        return this.activeColumn == column && this.activeColumn.order < 0
          ? 'enabled'
          : 'disabled';
      },
      getArrowUpClass(column) {
        return this.activeColumn == column && this.activeColumn.order > 0
          ? 'enabled'
          : 'disabled';
      }
    },
    computed: {
      statuses() {
        var cloneStatuses = Object.assign({}, statuses);
        delete cloneStatuses['D'];
        return cloneStatuses;
      }
    },
    created() {
      $.ajax(`/api/user?role=operator`, {
        success: ({ users }) => {
          this.operators = users;
        }
      });
    }
  }
</script>


<style lang="scss" scoped>

.arrows-container{
  position: relative;
  cursor: pointer;
}

.arrow-up {
  position: absolute;
  bottom: .5em;
  display: block;
  opacity: .3;
  right: 1em;
}

.arrow-down {
  position: absolute;
  bottom: .5em;
  display: block;
  opacity: .3;
  right: 0.5em;
}

.enabled {
  opacity: 1;
}

.disabled {
  opacity: 0.3;
}
.arrows {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
}
.arrows i {
    line-height: 0.2rem!important;
}
</style>
