<template>
  <div>
    <div class="row mt-12">
      <div class="col-md-10 mb-3">
        <h1 class="mb-4">
          Архив заявок      
        </h1>
      </div>
      <div class="col-md-2 mb-3 text-end">
        <a class="btn btn-corall rounded-pill px-3" href="/ticket">Заявки</a>
      </div>
    </div>
    <div class="row mt-12">
        <div class="col-md-2 mb-3">
          <div class="content shadow-sm p-4">
            <div class="row mt-12">
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <label>Филиал</label>
                  <v-select :options="affiliates" :clearable="false" v-model="selected_affiliate">
                    <template #selected-option="{ label }">
                      <div style="display: flex; align-items: baseline">
                        <span>{{ label.length > 38 ? `${label.slice(0, 38)}...` : label }}</span>
                      </div>
                    </template>
                    <span slot="no-options" @click="$refs.select.open = false">
                      Нет вариантов для выбора
                    </span>
                  </v-select>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <label>Окно</label>
                  <v-select :options="windows" :clearable="false" v-model="selected_window" >
                    <template #selected-option="{ label }">
                      <div style="display: flex; align-items: baseline">
                        <span>{{ label.length > 38 ? `${label.slice(0, 38)}...` : label }}</span>
                      </div>
                    </template>
                    <span slot="no-options" @click="$refs.select.open = false">
                      Нет вариантов для выбора
                    </span>
                  </v-select>
                </div>
              </div>
            </div>
            <div class="row" style="align-items: flex-end;">
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <label>Оператор</label>
                  <select class="form-control  form-select" v-model="filter.operator">
                    <option value="">Все</option>
                    <option v-for="operator in operators" :value="operator.id">{{operator.label}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <label>Статус</label>
                  <select class="form-control form-select" v-model="filter.status">
                    <option value="">Все</option>
                    <option v-for="(name, val) in statuses" :value="val">{{ name }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <div class="form-group">
                  <label>Создан из</label>
                  <select class="form-control form-select" v-model="filter.create_from">
                    <option value="">Все</option>
                    <option v-for="(name, val) in ticket_from" :value="val">{{ name }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <label>Дата начала</label>
                      <input type="date" placeholder="Дата начала" class="form-control" v-model="filter.start_date">
                    </div>
                    <div class="col-md-12 mb-3">
                      <label>Дата завершения</label>
                      <input type="date" placeholder="Дата завершения" class="form-control" v-model="filter.end_date">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 text-end">
                <button class="btn btn-blue" @click="loadTickets">Применить</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-10 mb-3">
          <div v-if="tickets.data.length > 0" class="content shadow-sm overflow-auto p-4">
            <table class="table table-bordered align-middle table-responsive-sm small">
              <thead class="thead-dark">
              <tr class="text-center">
                <th v-for="column in columns"
                    class="arrows-container"
                    :class="{active: column == activeColumn}"
                    @click="sortTable(column)"
                >
                  <div class="arrows-block d-flex align-items-center justify-content-between">
                    <div class="pr-2">{{ column.title }}</div>
                    <div class="arrows">                    
                      <i :class="[getArrowUpClass(column)]" class="fa fa-solid fa-sort-up" aria-hidden="true"></i>
                      <i :class="[getArrowDownClass(column)]" class="fa fa-solid fa-sort-down" aria-hidden="true"></i>                  
                    </div>  
                  </div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="ticket in tickets.data" :key="ticket.id">
                <td>
                  <router-link :to="{name: 'ticket.show', params: {id: ticket.id}}">{{ ticket.id }}</router-link>
                  <div v-if="ticket.create_from" class="badge rounded-pill bg-warning text-dark">
                    {{ ticket_from[ticket.create_from] }}
                    </div>
                </td>
                <td>{{ ticket.affiliate ? ticket.affiliate.name : ''}}</td>
                <td>{{ ticket.form_result.form.service.window ? ticket.form_result.form.service.window.name : ''}}</td>
                <td>{{ ticket.operator ?  ticket.operator.firstname + ' ' + ticket.operator.name : '' }}</td>
                <td>
                  {{ ticket.form_result.form.service.name }}
                </td>
                <td>{{ ruStatus(ticket.status) }}</td>
                <td>{{ ruDateFormat(ticket.created_at) }}</td>
                <td>{{ ruDateFormat(ticket.plan_end_date) }}</td>
                <td>{{ ruDateFormat(ticket.fact_end_date) }}</td>
                <td>
                  <button class="btn btn-corall btn-sm" @click="setInWorkStatus(ticket)" v-if="ticket.status === 'N'">Взять в работу</button>
                  <router-link :to="{name: 'ticket.show', params: {id: ticket.id}}"><i class="fa fa-chevron-circle-right fa-2x"></i></router-link>
                </td>
              </tr>
              </tbody>

              </tbody>
            </table>                        
            <div class="d-flex text-end justify-content-end">
              <paginate :value="tickets.page"
                        @input="changePage"
                        :page-count="tickets.pages"
                        :margin-pages="2"
                        :page-range="5"
                        :first-last-button="true"
                        :hide-prev-next="false"
                        :container-class="'pagination'"
                        :page-class="'page-item'"
                        :page-link-class="'page-link'"
              ></paginate>
            </div>
          </div>
          <div v-else class="content shadow-sm overflow-auto p-3">
            Список заявок пуст
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import Paginate from '../../paginate';
import { statuses } from '../../../services/statuses.js';
import VSelect from 'vue-select';

export default {
  name: 'ticket.archive',
  components: {Paginate, VSelect},
  data: () => ({
    activeColumn: {name: 'created_at', title: 'Дата создания', order: -1},
    columns: [
      {name: 'id', title: '№', class: 'disabled', order: 1},
      {name: 'affiliate.name', title: 'Филиал', class: 'disabled', order: 1},
      {name: 'window', title: 'Окно', class: 'disabled', order: 1},
      {name: 'operator', title: 'Оператор', class: 'disabled', order: 1},
      {name: 'service', title: 'Услуга', class: 'disabled', order: 1},
      {name: 'status', title: 'Статус', class: 'disabled', order: 1},
      {name: 'created_at', title: 'Дата создания', class: 'disabled', order: 1},
      {name: 'plan_end_date', title: 'Планируемая дата завершения', class: 'disabled', order: 1},
      {name: 'fact_end_date', title: 'Дата завершения', class: 'disabled', order: 1},
      {name: 'status', title: 'Действие', class: 'disabled', order: 1},
    ],
    operators: [],
    tickets: {
      data: window.tickets.data || [],
      page: window.tickets.current_page || 0,
      pages: window.tickets.last_page || 0,
    },
    filter: {
      operator: '',
      status: '',
      create_from: '',
      start_date: '',
      end_date: '',
    },
    currentWindow: window.currentWindow,
    windows: window.windows,
    affiliates: window.affiliates,
    ticket_from: window.ticketFrom,
    selected_affiliate: { 'id' : false, 'label' : 'Выберите филиал' },
    selected_window: {'id' : false, 'label' : 'Выберите окно'},
    selected_operator: {'id' : false, 'label' : 'Выберите оператора'},
  }),
  watch: {
    selected_affiliate: function (value) {
      if (value != null){
        this.selectAffiliate();
        this.selectWindows();
      }
    },
    selected_window: function (value) {
      if (value != null){
        this.changeWindow();
      }
    },
  },
  methods: {
    selectAffiliate() {
      $.ajax({
        url: '/api/affiliate/select-operators',
        data: {
          affiliate_id: this.selected_affiliate.id,
          _token: $('meta[name="csrf-token"]').attr('content')
        },
        type: 'POST',
        success: (operators) => {
          this.operators = operators;
        }
      });
    },
    selectWindows() {
      $.ajax({
        url: '/api/affiliate/select-windows',
        data: {
          affiliate_id: this.selected_affiliate.id,
          _token: $('meta[name="csrf-token"]').attr('content')
        },
        type: 'POST',
        success: (windows) => {
          this.windows = windows;
        }
      });
    },
    ruDateFormat(date) {
      return date ? moment(date).format("DD.MM.YYYY HH:mm") : '';
    },
    ruStatus(status) {
      return statuses[status];
    },
    changePage(val) {
      const params = [];

      params.push(`sort=${this.activeColumn.name}`);
      params.push(`direction=${this.activeColumn.order > 0 ? 'asc' : 'desc' }`);

      if (this.filter.operator) {
        params.push(`operator=${this.filter.operator}`);
      }
      if (this.filter.status) {
        params.push(`status=${this.filter.status}`);
      }
      if (this.filter.create_from) {
        params.push(`create_from=${this.filter.create_from}`);
      }
      if (this.filter.start_date) {
        params.push(`start_date=${this.filter.start_date}`);
      }
      if (this.filter.end_date) {
        params.push(`end_date=${this.filter.end_date}`);
      }

      $.ajax(`/api/ticket/archive?page=${val}` + '&' + params.join('&'), {
        success: ({ tickets }) => {
          this.tickets.data = tickets.data;
          this.tickets.page = tickets.current_page;
          this.tickets.pages = tickets.last_page;
        }
      });
    },
    changeWindow() {
      $.ajax({
        url: `/ticket`,
        data: {
          window_id: this.selected_window.id,
          _token: $('meta[name="csrf-token"]').attr('content')
        },
        type: 'POST',
        success: (response) => {
          this.loadTickets();
        }
      });
    },
    setInWorkStatus(t) {
      $.ajax({
        url: `/api/ticket/${ t.id }/status`,
        data: {
          operator_id: window.user.id,
          status: 'W',
          _token: $('meta[name="csrf-token"]').attr('content')
        },
        type: 'POST',
        success: ({ ticket, token }) => {
          $('meta[name="csrf-token"]').attr('content', token);
          t.status = ticket.status;
          this.$nextTick(() => this.$forceUpdate());

          this.$flash_success('Параметры заявки успешно обновлены');
        }
      });
    },
    loadTickets() {
      const params = [];
      if (this.filter.operator) {
        params.push(`operator=${this.filter.operator}`);
      }
      if (this.filter.status) {
        params.push(`status=${this.filter.status}`);
      }
      if (this.filter.create_from) {
        params.push(`create_from=${this.filter.create_from}`);
      }
      if (this.filter.start_date) {
        params.push(`start_date=${this.filter.start_date}`);
      }
      if (this.filter.end_date) {
        params.push(`end_date=${this.filter.end_date}`);
      }

      params.push(`sort=${this.activeColumn.name}`);
      params.push(`direction=${this.activeColumn.order > 0 ? 'asc' : 'desc' }`);

      $.ajax(`/api/ticket/archive${params.length > 0 ? '?' + params.join('&') : ''}`, {
        success: ({ tickets }) => {
          this.tickets.data = tickets.data;
          this.tickets.page = tickets.current_page;
          this.tickets.pages = tickets.last_page;
        }
      });
    },
    sortTable(column) {
      this.activeColumn = column;
      column.order = column.order * (-1);
      this.loadTickets();
    },
    getArrowDownClass(column) {
      return this.activeColumn == column && this.activeColumn.order < 0
        ? 'enabled'
        : 'disabled';
    },
    getArrowUpClass(column) {
      return this.activeColumn == column && this.activeColumn.order > 0
        ? 'enabled'
        : 'disabled';
    }
  },
  computed: {
    statuses() {
      return {'D' : statuses['D']};
    }
  },
  created() {
    this.loadTickets();

    $.ajax(`/api/user?role=operator`, {
      success: ({ users }) => {
        this.operators = users;
      }
    });
  }
}
</script>


<style lang="scss" scoped>

.arrows-container{
  position: relative;
  padding-right: 30px;
  cursor: pointer;
}

.arrow-up {
  position: absolute;
  bottom: .5em;
  display: block;
  opacity: .3;
  right: 1em;
}

.arrow-down {
  position: absolute;
  bottom: .5em;
  display: block;
  opacity: .3;
  right: 0.5em;
}

.enabled {
  opacity: 1;
}

.disabled {
  opacity: 0.3;
}
.arrows {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
}
.arrows i {
    line-height: 0.2rem!important;
}
</style>
