<template>
  <div v-if="ticket === null">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Загрузка...</span>
      </div>
    </div>
  </div>
  <div v-else>
    <div class="ticket-detail container">
      <div class="mb-4 d-flex align-items-center justify-content-between">
        <div class="title">
          <h1>Заявка №{{ ticket.id }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          <div class="content mb-3 shadow-sm p-4">
            <div class="d-flex justify-content-between">
              <div class="text-muted fs-6">
                <small>№{{ ticket.id }} от {{ ticket.created_at ? ruDateFormat(ticket.created_at) : 'Неизвестно' }}</small>
              </div>
              <div class="mb-2 text-end d-flex">
                <div>
                  <span class="badge rounded-pill badge-corall w-auto">{{ ruStatus(ticket.status) }}</span>
                </div>
                <div v-if="!ticket.operator_id">
                  <span class="badge rounded-pill badge-light w-auto">Оператор не назначен</span>
                </div>
                <div v-else>
                  <span class="badge rounded-pill badge-blue w-auto">{{ userFullName(ticket.operator) }}</span>
                </div>
              </div>
            </div>
            <h4 class="mb-3">{{ ticket.form_result.form.service.name }}</h4>
            <small class="text-muted">Официальное название:</small>
            <p>{{ ticket.form_result.form.service.official_name }}</p>
            <p>{{ ticket.status_name }}</p>
            <ul class="nav nav-pills corall" id="myTab" role="tablist">
              <li class="nav-item mb-3">
                <a class="nav-link" :class="{active: tab === 'form'}" href="#"
                   @click.prevent="tab = 'form'">Анкетные данные</a>
              </li>
              <li class="nav-item mb-3">
                <a class="nav-link" :class="{active: tab === 'user'}" href="#"
                   @click.prevent="tab = 'user'">Персональные данные заявителя</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane table" v-if="tab === 'user'">
                <table class="table table-bordered table-hover table-responsive-sm">
                  <tr>
                    <td><b>ID Заявителя</b></td>
                    <td>{{ ticket.form_result.user.id }}</td>
                  </tr>
                  <tr>
                    <td><b>ФИО Заявителя</b></td>
                    <td>{{ userFullName(ticket.form_result.user)}}</td>
                  </tr>
                  <tr>
                    <td><b>Дата рождения</b></td>
                    <td>{{ ruDateFormat(ticket.form_result.user.birthday) }}</td>
                  </tr>
                  <tr>
                    <td><b>ИНН</b></td>
                    <td>{{ ticket.form_result.user.inn }}</td>
                  </tr>
                  <tr>
                    <td><b>СНИЛС</b></td>
                    <td>{{ ticket.form_result.user.snils }}</td>
                  </tr>
                  <tr>
                    <td><b>Гражданство</b></td>
                    <td>{{ ticket.form_result.user.citizenship }}</td>
                  </tr>
                  <tr>
                    <td><b>Серия паспорта</b></td>
                    <td>{{ ticket.form_result.user.passport_serial }}</td>
                  </tr>
                  <tr>
                    <td><b>Номер паспорта</b></td>
                    <td>{{ ticket.form_result.user.passport_number }}</td>
                  </tr>
                  <tr>
                    <td><b>Орган выдавший паспорт</b></td>
                    <td>{{ ticket.form_result.user.passport_organization }}</td>
                  </tr>
                  <tr>
                    <td><b>Код подразделения</b></td>
                    <td>{{ ticket.form_result.user.passport_subdivision }}</td>
                  </tr>
                  <tr>
                    <td><b>Дата выдачи паспорта</b></td>
                    <td>{{ ruDateFormat(ticket.form_result.user.passport_date) }}</td>
                  </tr>
                  <tr>
                    <td><b>Адрес регистрации</b></td>
                    <td>{{ ticket.form_result.user.registration_place }}</td>
                  </tr>
                  <tr>
                    <td><b>Телефон</b></td>
                    <td>{{ ticket.form_result.user.phone }}</td>
                  </tr>
                  <tr>
                    <td><b>E-mail</b></td>
                    <td>{{ ticket.form_result.user.email }}</td>
                  </tr>
                </table>
              </div>
              <div class="tab-pane" v-if="tab === 'form'">
                <div v-if="ticket.form_result.form.service.use_button === 'Y'" class="table">
                  <table class="table table-responsive-sm">
                    <tr v-for="field in form">
                      <td>
                        <b>{{ field.title }}</b>
                      </td>
                      <td v-if="field.tag === 'input' && field.type === 'file'">
                        <p v-for="file in findFieldValue(field)">
                          <a :href="`/storage/${file.path}`" target="_blank"
                            :download="makeAttachmentName(file)">{{ file.name }}</a>
                        </p>
                      </td>
                      <td v-else v-html="findFieldValue(field)">
                      </td>
                    </tr>
                  </table>
                </div>
                <div v-else>
                  Анкетные данные отсутствуют
                </div>
              </div>
            </div>
          </div>
          <div class="content mb-3 shadow-sm p-4">
            <div class="row mb-4">
              <div class="col-12">
                <h5>Комментарии</h5>
                <div v-if="ticket.comments.length > 0">
                  <div v-for="comment in ticket.comments"
                      :class="{'mb-4': true, comment: true, new: comment.is_new}">
                    <div class="d-flex justify-content-between">
                      <div class="text-muted fs-6">
                        <small>{{ ruDateFormat(comment.created_at) }}</small>
                      </div>
                      <div class="text-end mb-3">
                        <div><small>{{ comment.user.name }}</small></div>
                      </div>
                    </div>
                    <div class="d-block">
                      <div class="d-block comment-text mb-3" v-html="comment.text"></div>
                      <div class="d-block">
                        <div class="comment-attachments">
                          <div v-for="attachment in comment.attachment" class="mb-2">
                            <a target="_blank" :download="makeAttachmentName(attachment)"
                               :href="`/storage/${attachment.path}`"><i class="fa fa-download"></i>
                              {{ attachment.name }}
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
                <p v-else>Пока нет комментариев по текущей заявке.</p>
              </div>
            </div>
          </div>
          <div class="content mb-4 shadow-sm p-4">
            <div class="mb-3">
              <h5>Добавить комментарий</h5>
              <form @submit.prevent="sendComment()">
                <textarea class="form-control mt-3 mb-3" name="text" id="comment"
                          v-model="commentForm.comment"
                          rows="4" placeholder="Введите текст комментария"></textarea>
                <div class="row">
                  <div class="col mb-3">
                    <div class="input-group">
                      <input @change="changeFiles" type="file" class="form-control custom-file-input" id="customFile" name="attachment[]" multiple>
                    </div>
                  </div>
                  <div class="col mb-3">
                    <select v-model="commentForm.visibility" class="form-control form-select">
                      <option value="A">Виден всем</option>
                      <option value="O">Виден только операторам</option>
                    </select>
                  </div>
                </div>
                <div class="text-end">
                  <button type="submit" class="btn btn-blue rounded-pill px-3">Отправить</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <template v-if="ticket.check_list">
            <div class="side card mb-4 shadow-sm p-4">
              <div class="card-header">
                <h5>Чек-лист</h5>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <div id="TicketCheckList">
                    <div v-for="(item, index) in ticket.check_list.check_list" class="mb-2 d-flex align-items-center">
                      <input class="ticket-check-list me-2" type="checkbox" v-model="item.checked"
                            @change="updateCheckList"
                            true-value="true"
                            false-value="false" :id="index">
                      <label :for="index"><span>{{ item.name }}</span></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </template>

          <div class="side card mb-4 shadow-sm p-4">
            <div class="card-header">
              <h5>Управление статусом</h5>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label class="form-label">Статус заявки</label>
                <select v-model="ticket.status" class="form-select" @click="statusChange">
                  <option v-for="(text, status) in availableStatuses" :value="status">{{
                      text
                    }}
                  </option>
                </select>
              </div>
              <div class="form-group mt-3">
                <label class="form-label">Филиал</label>
                <v-select :options="affiliates" :clearable="false" v-model="selected_affiliate"></v-select>
              </div>
              <div class="form-group mt-3">
                <label class="form-label">Оператор</label>
                <v-select :options="operators" :clearable="false" v-model="selected_operator"></v-select>
              </div>
              <div class="text-center mt-4">
                <button class="btn btn-corall rounded-pill px-3" @click="saveStatus">Применить</button>
              </div>
            </div>
          </div>
          <invite-popup
            v-if="showPopup || ticket.status === 'I'"
            @apply="applyInviteDate"
            template="side"
            :current="invite"
            :ticket="ticket.id"
          ></invite-popup>

          <div class="side card mb-4 shadow-sm p-4">
            <div class="card-header">
              <h5>Файлы на скачивание</h5>
            </div>
            <div class="card-body" v-if="documentsCount(ticket)">
              <div v-for="document in ticket.form_result.form.service.documents" class="row pb-2 mb-2"
                   style="align-items: center; border-bottom: 1px solid #eee;">
                <div class="col-1">
                  <a :href="'/storage/' + document.file" :download="document.file"><i class="fa fa-download"></i></a>
                </div>
                <div class="col-10">
                  <a :href="'/storage/' + document.file" :download="document.file">{{ document.name }}</a>
                </div>
              </div>
            </div>
            <div v-else class="card-body">
              <p>Нет вложенных файлов</p>
            </div>
          </div>

          <div class="side card mb-4 shadow-sm p-4">
            <div class="card-header">
              <h5>Ссылки</h5>
            </div>
            <div class="card-body" v-if="ticket.form_result.form.service.links">
              <div v-for="link in ticket.form_result.form.service.links" class="row pb-2 mb-2" style="align-items: center; border-bottom: 1px solid #eee;">
                <div class="col-1">
                  <a :href="link.url" target="_blank"><i class="fa fa-external-link"></i></a>
                </div>
                <div class="col-10">
                  <a :href="link.url" target="_blank">{{ link.name }}</a>
                </div>
              </div>
            </div>
            <div v-else class="card-body">
              <p>Нет ссылок</p>
            </div>
          </div>

          <div class="side card mb-4 shadow-sm p-4">
            <div class="card-header">
              <h5>История рассмотрения</h5>
            </div>
            <div class="card-body">
              <p>Дата создания<br/> {{
                  ticket.created_at ? ruDateFormat(ticket.created_at) : 'Неизвестно'
                }}</p>
              <p>Дата изменения<br/> {{
                  ticket.updated_at ? ruDateFormat(ticket.updated_at) : 'Неизвестно'
                }}</p>
              <p>Дата отправки<br/>
                {{ ticket.plan_end_date ? ruDateFormat(ticket.plan_end_date) : 'Неизвестно' }}</p>
              <p>Дата принятия в работу<br/>
                {{ ticket.plan_end_date ? ruDateFormat(ticket.plan_end_date) : 'Неизвестно' }}</p>
              <p>Плановая дата закрытия<br/>
                {{ ticket.plan_end_date ? ruDateFormat(ticket.plan_end_date) : 'Неизвестно' }}</p>
              <p>Фактическая дата закрытия<br/>
                <span v-if="ticket.fact_end_date">{{ ruDateFormat(ticket.fact_end_date) }}</span>
              </p>
            </div>
          </div>

          <div class="side card mb-4 shadow-sm p-4">
            <div class="card-header">
              <h5>История изменений</h5>
            </div>
            <div class="card-body" >
              <template v-for="log in ticket.logs">
                <p>{{ log.created_at ? ruDateFormat(log.created_at) : 'Неизвестно' }}</p>
                <p>{{ userFullName(log.operator) }}</p>
                <p>{{ log.change_type === 'status'
                  ?  'Изменение статуса на "' + ruStatus(log.change_value) +'"'
                  : 'Смена оператора на "' + log.change_value + '"' }}</p>
                <hr>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import VSelect from 'vue-select';
import {statuses, availableStatuses} from '../../../services/statuses';
import InvitePopup from './invite-popup';

export default {
  name: 'ticket.show',
  components: {InvitePopup, VSelect},
  props: ['id'],
  data: () => ({
    tab: 'form',
    ticket: null,
    cticket: null,
    operator: null,
    affiliates: null,
    commentForm: {
      comment: '',
      files: [],
      visibility: 'A',
    },
    invite: {
      date: null,
      window: null,
    },
    operators: [],
    showPopup: false,
    selected_affiliate: {'id': false, 'label': 'Выберите филиал'},
    selected_operator: {'id': false, 'label': 'Выберите оператора'}
  }),
  watch: {
    selected_affiliate: function (value) {
      if (value != null) {
        this.selectAffiliate();
      }
    },
  },
  methods: {
    userFullName(user)
    {
      return user !== undefined
        ? (user.firstname ?? '') + ' ' + (user.name ?? '') + ' ' + (user.patronymic ?? '')
        : '';
    },
    documentsCount(ticket) {
      return ticket.form_result.form.service.documents ?
        (ticket.form_result.form.service.documents.length > 0 ? true : false)
        : false;
    },
    selectAffiliate() {
      $.ajax({
        url: '/api/affiliate/select-operators',
        data: {
          affiliate_id: this.selected_affiliate.id,
          _token: $('meta[name="csrf-token"]').attr('content')
        },
        type: 'POST',
        success: (operators) => {
          this.operators = operators;
          console.log(this.operators);
        }
      });
    },
    makeAttachmentName(file) {
      const tmp = file.path.split('.');
      const ext = tmp[tmp.length - 1];
      return `${file.name.replace("." + ext, '')}.${ext}`;
    },
    statusChange() {
      if (this.ticket.status === 'I') {
        this.showPopup = true;
      }
    },
    applyInviteDate({date, window}) {
      this.invite.date = date;
      this.invite.window = window;
    },
    findFieldValue(field) {
      if (field.options) {
        if (Array.isArray(this.formData[field.name])) {
          return this.formData[field.name].map(res => `<p>${field.options[res]}</p>`).join('');
        } else {
          return field.options[this.formData[field.name]];
        }
      }

      return this.formData[field.name];
    },
    ruStatus(status) {
      return statuses[status];
    },
    ruDateFormat(date) {
      return moment(date).format('DD.MM.YYYY, HH:mm')
    },
    changeFiles(event) {
      this.commentForm.files = event.target.files;
    },
    sendComment() {
      const fd = new FormData;
      fd.append('_token', $('meta[name="csrf-token"]').attr('content'));
      fd.append('text', this.commentForm.comment.split('\n').join('<br>'));
      fd.append('visibility', this.commentForm.visibility);
      Array.from(this.commentForm.files).forEach(file => fd.append('attachment[]', file));

      $.ajax({
        url: `/api/ticket/${this.ticket.id}/comment`,
        data: fd,
        processData: false,
        contentType: false,
        type: 'POST',
        success: ({ticket, token}) => {
          $('meta[name="csrf-token"]').attr('content', token);
          this.ticket = ticket;
          this.cticket = {...ticket};
          this.commentForm.comment = '';
          this.commentForm.files = [];
          this.$nextTick(() => this.$forceUpdate());
        }
      });
    },
    saveStatus() {
      let data;
      if (this.ticket.status === 'I') {
        if (!this.invite.date) {
          this.$flash_danger("Не выбрано время визита");
          return;
        }
        data = {
          operator_id: this.selected_operator.id || this.ticket.operator_id,
          affiliate_id: Number(this.selected_affiliate.id),
          status: this.ticket.status,
          invite: {
            window: this.invite.window,
            time: moment(this.invite.date).format("YYYY-MM-DD HH:mm"),
          },
          _token: $('meta[name="csrf-token"]').attr('content')
        };
      } else {
        data = {
          operator_id: this.selected_operator.id || this.ticket.operator_id,
          affiliate_id: Number(this.selected_affiliate.id),
          status: this.ticket.status,
          _token: $('meta[name="csrf-token"]').attr('content')
        };
      }
      $.ajax({
        url: `/api/ticket/${this.ticket.id}/status`,
        data,
        type: 'POST',
        success: ({ticket, token}) => {
          $('meta[name="csrf-token"]').attr('content', token);
          this.ticket = ticket;
          this.ticket.check_list.check_list = this.ticket.check_list ? JSON.parse(this.ticket.check_list.check_list) : null;
          this.ticket.form_result.form.service.links = this.ticket.form_result.form.service.links ? JSON.parse(this.ticket.form_result.form.service.links) : null;

          this.cticket = {...ticket};
          this.$nextTick(() => this.$forceUpdate());

          this.$flash_success('Параметры заявки успешно обновлены');
        },
        error: () => {
          this.$flash_danger('При изменении статуса произошла ошибка. Попробуйте обновить страницу и повторить попытку.');
        }
      });
    },
    updateCheckList() {
      let data = {
        ticket_check_list: this.ticket.check_list.id,
        check_list: this.ticket.check_list.check_list,
        _token: $('meta[name="csrf-token"]').attr('content')
      };
      $.ajax({
        url: `/api/ticket/${this.ticket.id}/updateCheckList`,
        data,
        type: 'POST',
        success: ({ticket, token}) => {
          $('meta[name="csrf-token"]').attr('content', token);
        },
        error: () => {
          this.$flash_danger('При изменении статуса произошла ошибка. Попробуйте обновить страницу и повторить попытку.');
        }
      });
    }
  },
  computed: {
    availableStatuses() {
      if (this.ticket) {
        return availableStatuses(this.ticket.status);
      }

      return {};
    },
    form() {
      if (!this.ticket) return {};
      const form = typeof this.ticket.form_result.form.form_data === 'string'
        ? JSON.parse(this.ticket.form_result.form.form_data)
        : this.ticket.form_result.form.form_data;

      const formData = [];

      form.steps.forEach(step => {
        step.data.forEach(stepData => {
          stepData.cols.forEach(col => {
            col.data.forEach(elm => {
              if (elm.tag !== 'custom') {
                formData.push({
                  name: elm.name,
                  title: elm.title,
                  tag: elm.tag,
                  type: elm.type || false,
                  options: elm.options ? elm.options.reduce((a, c) => {
                    a[c.value] = c.name;
                    return a
                  }, {}) : null,
                });
              }
            });
          });
        });
      });

      return formData;
    },
    formData() {
      if (!this.ticket || this.ticket.form_result.result === null) return {};
      return typeof this.ticket.form_result.result === 'string'
        ? JSON.parse(this.ticket.form_result.result)
        : this.ticket.form_result.result;
    },
    filesText() {
      if (this.commentForm.files.length > 0) {
        return Array.from(this.commentForm.files).map(f => f.name).join(', ');
      } else {
        return 'Выберите файлы';
      }
    },
    operatorOptions() {
      return this.operators.map(u => ({
        label: `${u.first_name || ''} ${u.name || ''} ${u.patronymic || ''}`.trim(),
        id: u.id,
      }));
    },
  },
  created() {
    $.ajax(`/api/ticket/${this.id}`, {
      success: ({ticket, affiliates}) => {
        this.ticket = ticket;
        this.affiliates = affiliates;
        this.ticket.check_list.check_list = this.ticket.check_list ? JSON.parse(this.ticket.check_list.check_list) : null;
        this.ticket.form_result.form.service.links = this.ticket.form_result.form.service.links ? JSON.parse(this.ticket.form_result.form.service.links) : null;
        this.cticket = {...ticket};
        this.invite = {
          date: ticket.invite ? ticket.invite.invite_time : new Date(),
          window: ticket.invite ? ticket.invite.window_id : null,
        };
        this.$nextTick(() => this.$forceUpdate());
        $.ajax(`/api/user?role=operator`, {
          success: ({users}) => {
            this.operators = users;

            this.$nextTick(() => {
              this.operator = this.operatorOptions.find(o => o.code == this.ticket.operator_id);
            });
          }
        });
      }
    });
  }
}
</script>

<style lang="scss" scoped>
.tab-content {
  .tab-pane {
    display: block;
  }
}

.ticket-check-list:checked + label {
  text-decoration: line-through;
}
</style>
