<template>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasstatus" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Массовая смена статуса</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
    <div class="justify-content-center my-0 mx-3">
        <div class="form-group row mt-3">
            <label for="editor" class="col-md-12 col-form-label">Статус</label>
            <div class="col-md-12">
              <select class="form-control form-select" v-model="selected_status">
                  <option v-for="(name, val) in statuses" :value="val">{{ name }}</option>
              </select>
            </div>
        </div>
        <div class="form-group row mt-3 text-center">
            <div class="col-md-12">
            <button type="submit" class="btn btn-corall" @click="setStatus">
                Отправить
            </button>
            </div>
        </div>
        <div class="text-start mt-3">
          Количество выбранных адресатов :  {{ filteredTickets.length }}
        </div>
    </div>
    </div>
  </div>
</template>

<script>
  import VSelect from 'vue-select';

  export default {
    name: 'ticket.status',
    components: {VSelect},
    props: ['tickets', 'statuses'],
    data: function() {
      var theData = {
        selected_status: Object.keys(this.statuses)[0],
      }

      return theData;
    },
    computed: {
      filteredTickets() {
        return this.tickets
          .filter((ticket) => ticket.checked)
          .map((ticket) => ticket.id)
      }
    },
    methods : {
      setStatus() {
        $.ajax({
          url: `/api/tickets/status`,
          data: {
            operator_id: window.user.id,
            status: this.selected_status,
            tickets: this.filteredTickets,
            _token: $('meta[name="csrf-token"]').attr('content')
          },
          type: 'POST',
          success: ({ ticket, token }) => {
            $('meta[name="csrf-token"]').attr('content', token);
            
            this.$emit('update-tickets')

            bootstrap.Offcanvas.getInstance($("#offcanvasstatus")).hide()

            this.$flash_success('Статус заявок успешно сменен');
          }
        });
      },
    }
  }
</script>