<template>
  <div class="conditions">
    <div class="form-group  col-md-6 ">
      <label class="control-label">Тип условий</label>
      <ul class="radio">
        <li>
          <input type="radio" id="and-condition" name="condition_type" value="AND" v-model="conditions.type">
          <label for="and-condition">И</label>
          <div class="check"></div>
        </li>
        <li>
          <input type="radio" id="or-condition" name="condition_type" value="OR" v-model="conditions.type">
          <label for="or-condition">ИЛИ</label>
          <div class="check"></div>
        </li>
      </ul>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Поле</th>
          <th>Условие</th>
          <th>Значение</th>
          <th>Действие</th>
        </tr>
      </thead>
      <tbody v-if="conditions.conditions.length > 0">
        <tr v-for="condition in conditions.conditions">
          <td>
            <div class="form-group">
              <select class="form-control" v-model="condition.field" @change="$forceUpdate()">
                <option v-for="formField in formFields" :value="formField.name">{{ formField.title }}</option>
              </select>
            </div>
          </td>
          <td>
            <div class="form-group">
              <select class="form-control" v-model="condition.cond" @change="$forceUpdate()">
                <option value="equal">Равно</option>
                <option value="not-equal">Не равно</option>
              </select>
            </div>
          </td>
          <td>
            <div class="form-group">
              <input type="text" class="form-control" v-model="condition.value" v-if="!hasOptions(condition.field)" @change="$forceUpdate()">
              <select class="form-control" v-else v-model="condition.value">
                <option v-for="option in getOptions(condition.field)" :value="option.value">{{ option.name }}</option>
              </select>
            </div>
          </td>
          <td class="text-center">
            <button class="btn btn-danger" @click="removeCondition(condition)">Удалить</button>
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr>
          <td colspan="4" class="text-center">Для выбранного поля не заданы условия</td>
        </tr>
      </tbody>
    </table>

    <div class="add-condition">
      <a href="#" class="btn btn-primary" @click.prevent="addCondition">Добавить условие</a>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'conditions',
    props: ['conditions', 'field'],
    methods: {
      addCondition() {
        this.conditions.conditions.push({
          field: '',
          cond: 'equal',
          value: '',
        });
        this.$forceUpdate();
      },
      removeCondition(condition) {
        const idx = this.conditions.conditions.indexOf(condition);
        if (~idx) {
          this.conditions.conditions.splice(idx, 1);
        }
      },
      findFormField(name) {
        return this.formFields.find(field => field.name === name);
      },
      hasOptions(name) {
        const field = this.findFormField(name);
        return !!field && !!field.options;
      },
      getOptions(name) {
        return this.findFormField(name).options;
      },
    },
    computed: {
      formFields() {
        const fields = [];
        window.formBuilderData.steps.forEach(step => {
          step.data.forEach(row => {
            row.cols.forEach(col => {
              col.data.forEach(field => {
                fields.push({
                  name: field.name,
                  title: field.title,
                  options: field.options || false,
                });
              });
            });
          });
        });

        return fields.filter(field => field.name !== this.field.name);
      }
    },
  }
</script>

<style lang="scss" scoped>
  .table {
    th {
      text-align: center;
    }
  }
</style>
