<template>
  <div>
    <h1 class="mb-4">
      Обращение №{{ discussion.id }}
    </h1>
    <div v-if="sendingResult === 'success'" class="alert alert-success">
      <span>Сообщение успешно отправлено.</span>
      <button @click="sendingResult = ''" type="button" class="btn-close" style="float: right"></button>
    </div>
    <div v-if="sendingResult === 'fail'" class="alert alert-danger">
      <span>Ошибка отправления.</span>
      <button @click="sendingResult = ''" type="button" class="btn-close" style="float: right"></button>
    </div>
    <div class="content shadow-sm p-4">
      <div class="d-flex justify-content-between mb-3">
        <div class="d-block">
          <div class="d-block text-muted small">{{ discussion.owner.name }} {{ discussion.owner.firstname }}</div>
          <div class="d-block text-muted small">
            {{ discussion.created_at }}
          </div>
        </div>
        <div class="d-block">
          <div v-if="discussion.isAlert">
            <div class="mb-2 text-end">
              <span class="badge rounded-pill badge-corall w-auto">Открыто</span>
            </div>
            <div v-if="['admin', 'operator'].includes(user.roleName)" class="btn-group" role="group">
              <button id="dropdownAlertButton" type="button" class="btn btn-blue btn-sm dropdown-toggle rounded-pill px-3 " data-bs-toggle="dropdown" aria-expanded="false">
                Открыто
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownAlertButton">
                <li><a class="dropdown-item" @click.prevent="closeDiscussion" href="">Закрыть</a></li>
                <li><a class="dropdown-item" @click.prevent="closeDiscussion" href="">Закрыть и создать заявку</a></li>
              </ul>
            </div>
          </div>
          <div v-else class="mb-2 text-end">
            <span class="badge rounded-pill badge-light w-auto">Закрыто</span>
          </div>
        </div>
      </div>
      <div class="d-flex mb-3">
        <h4>{{ discussion.name }}</h4>
      </div>
      <div class="d-block">{{ discussion.text }}</div>
      <div v-for="(url, index) in discussion.filesUrls" class="mb-1 d-flex align-items-center">
        <a :href="url" target="_blank"><i class="icon-xl fa fa-file-download"></i> {{ index }}</a>
      </div>      
      <div v-for="message in messages" :key="message.id" class="p-4 bg-light my-3">
        <div class="d-flex align-items-center justify-content-between pb-3" data-inbox="message">
          <div class="d-block">
            <div class="d-block text-muted small">
              {{ user.id === message.userOwnerId ? 'Вы' : `${message.author.name} ${message.author.firstname}` }}
            </div>
            <div class="d-block text-muted small">
              <div class="font-weight-bold text-muted mr-2">
                {{ message.created_at }}
              </div>
            </div>
          </div>
          <div class="d-flex text-end">
            <div v-if="user.id !== message.userOwnerId && message.status === 0" class="btn-group" role="group">
              <button id="dropdownMenuButton" type="button" class="btn btn-blue btn-sm  rounded-pill px-3  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Не прочитано
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" @click.prevent="readMessage(message)" href="">Прочитано</a></li>
              </ul>
            </div>
            <div v-else-if="message.status === 1" class="d-block text-end">
              <div class="d-block fw-bold text-muted small">Прочитано</div>
              <div class="d-block fw-bold text-muted small">{{ message.updated_at }}</div>
            </div>
          </div>
        </div>
        <div>{{ message.text }}</div>
        <div v-for="(url, index) in message.filesUrls" class="mb-1 d-flex align-items-center">
          <a :href="url" target="_blank"><i class="icon-xl fa fa-file-download"></i> {{ index }}</a>
        </div>        
      </div>
    </div>
      <div v-if="discussion.isAlert" class="content shadow-sm p-4 mt-5">
        <form id="kt_inbox_reply_form" @submit.prevent="sendMessage">
          <div class="d-block">
            <textarea placeholder="Введите сообщение ..." style="height: 100px;" v-model="text" class="form-control test p-10" id="text"></textarea>
            <span v-if="errorMessages.textMessageError">{{ errorMessages.textMessageError }}</span>
          </div>
          <div class="d-flex align-items-center mt-5">
            <div class="mb-3">
              <input type="file" ref="files" @change="handleFileUpload" class="form-control text-muted custom-file-input" id="customFile" name="files" multiple>
              <span v-if="errorMessages.filesMessageError">{{ errorMessages.filesMessageError }}</span>
            </div>
          </div>
          <div class="text-end">
            <button type="submit" class="rounded-pill btn btn-corall btn-shadow font-weight-bold px-4">Отправить</button>
          </div>
        </form>
      </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'discussions.show',
  props: {
    id: {
      type: String,
      required: true,
    }
  },
  data() {
    return {
      discussion: window.discussion,
      messages: window.discussion.messages,
      user: window.user,
      csrf: window.csrf,
      sendingResult: '',
      text: '',
      files: '',
      errorMessages: {
        textMessageError: '',
        filesMessageError: '',
      },
    };
  },
  methods: {
    handleFileUpload(event) {
      this.files = event.target.files;
    },
    clearForm() {
      this.text = '';
      this.files = '';
      this.$refs.files.value = '';
    },
    getFormData() {
      const formData = new FormData();

      formData.append('_token', this.csrf);

      if (this.text) {
        formData.append('text', this.text);
      }

      Array.from(this.files).forEach((file, index) => {
        formData.append(`files[${index}]`, file);
      });

      return formData;
    },
    sendMessage() {
      axios.post(`/api/discussions/messages/${this.discussion.id}`, this.getFormData())
        .then(response => {
          this.messages.push(response.data.message);

          this.sendingResult = 'success';

          this.errorMessages.textMessageError = '';
          this.errorMessages.filesMessageError = '';
        })
        .catch(error => {
          if (error.response.data.errors.text) {
            this.errorMessages.textMessageError = error.response.data.errors.text[0];
          }

          if (error.response.data.errors.files) {
            this.errorMessages.textMessageError = error.response.data.errors.files[0];
          }

          this.sendingResult = 'fail';
        });

      this.clearForm();
    },
    closeDiscussion() {
      axios.get(`/api/discussions/${discussion.id}/change-is-alert`)
        .then(() => {
          this.discussion.isAlert = 0;
        });

      this.clearForm();
    },
    readMessage(message) {
      axios.get(`/api/discussions/messages/${message.id}/read`)
        .then((response) => {
          message.status = response.data.message.status;
          message.updated_at = response.data.message.updated_at;
        });
    }
  },
}
</script>
